In [5]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
from datetime import timedelta, datetime

In [6]:
def path(i, j):
    if j == 0:
        return f'P:/DEPROJECT/Raw_bhav_copy/Raw_bhavcopy_{oldDate(i).strftime("%Y-%m-%d")}.csv'
    else:
        return f'P:/DEPROJECT/Clean_bhav_copy/Clean_bhavcopy_{oldDate(i).strftime("%Y-%m-%d")}.csv'

In [7]:
def oldDate(n):
    return datetime.now() - timedelta(n)

In [8]:
Company_list = ['3MINDIA','AARTIDRUGS','AARTIIND','AAVAS','ABB','ABCAPITAL','ABFRL','ACC','ACCELYA','ACE','ADANIENT',
                'ADANIPORTS','ADFFOODS','ADVENZYMES','AEGISCHEM','AHLUCONT','AIAENG','AJANTPHARM','AKZOINDIA','ALEMBICLTD',
                'ALKEM','ALKYLAMINE','ALLCARGO','ALOKINDS','AMARAJABAT','AMBER','AMBUJACEM','AMRUTANJAN','ANURAS','APARINDS',
                'APLAPOLLO','APLLTD','APOLLOHOSP','APOLLOPIPE','APOLLOTYRE','ARVIND','ARVINDFASN','ASAHIINDIA','ASHIANA',
                'ASHOKA','ASHOKLEY','ASIANPAINT','ASTEC','ASTERDM','ASTRAL','ASTRAZEN','ATFL','ATUL','AUBANK','AUROPHARMA',
                'AUTOAXLES','AVANTIFEED','AXISBANK','BAJAJ-AUTO','BAJAJCON','BAJAJELEC','BAJAJFINSV','BAJAJHLDNG','BAJFINANCE',
                'BALAMINES','BALKRISIND','BALMLAWRIE','BALRAMCHIN','BANARISUG','BANDHANBNK','BANKBARODA','BANKINDIA','BASF',
                'BATAINDIA','BBTC','BDL','BECTORFOOD','BEL','BEML','BEPL','BERGEPAINT','BHARATFORG','BHARATRAS','BHARTIARTL',
                'BHEL','BIOCON','BIRLACORPN','BLUEDART','BLUESTARCO','BOMDYEING','BOSCHLTD','BPCL','BRIGADE','BRITANNIA','BSE',
                'BSOFT','CAMLINFINE','CANBK','CANFINHOME','CAPACITE','CAPLIPOINT','CARBORUNIV','CARERATING','CASTROLIND','CCL',
                'CDSL','CEATLTD','CENTRALBK','CENTRUM','CENTURYPLY','CENTURYTEX','CERA','CESC','CGCL','CHALET','CHAMBLFERT',
                'CHEMCON','CHENNPETRO','CHOLAFIN','CHOLAHLDNG','CIPLA','COALINDIA','COCHINSHIP','COFORGE','COLPAL','CONCOR',
                'CONFIPET','COROMANDEL','CRAFTSMAN','CREDITACC','CRISIL','CROMPTON','CSBBANK','CUB','CUMMINSIND','CYIENT',
                'DAAWAT','DABUR','DALBHARAT','DALMIASUG','DBCORP','DBL','DCAL','DCBBANK','DCMSHRIRAM','DEEPAKNTR','DELTACORP',
                'DEN','DFMFOODS','DHAMPURSUG','DHANI','DHANUKA','DIAMONDYD','DISHTV','DIVISLAB','DIXON','DLF','DMART','DOLLAR',
                'DRREDDY','EASEMYTRIP','EDELWEISS','EICHERMOT','EIDPARRY','EIHOTEL','ELGIEQUIP','EMAMILTD','ENDURANCE',
                'ENGINERSIN','EPL','EQUITAS','EQUITASBNK','ERIS','ESABINDIA','ESCORTS','EVEREADY','EXIDEIND','FACT',
                'FCONSUMER','FDC','FEDERALBNK','FILATEX','FINCABLES','FINEORG','FINPIPE','FMGOETZE','FORTIS','FRETAIL',
                'FSL','GABRIEL','GAEL','GAIL','GALAXYSURF','GANECOS','GARFIBRES','GATI','GENUSPOWER','GEOJITFSL','GEPIL',
                'GESHIP','GET&D','GHCL','GICRE','GILLETTE','GLAND','GLAXO','GLENMARK','GMDCLTD','GMMPFAUDLR','GMRINFRA',
                'GNFC','GODFRYPHLP','GODREJAGRO','GODREJCP','GODREJIND','GODREJPROP','GPPL','GRANULES','GRAPHITE','GRASIM',
                'GREAVESCOT','GREENLAM','GREENPLY','GRINDWELL','GRSE','GSFC','GSPL','GTPL','GUJALKALI','GUJGASLTD','GULFOILLUB',
                'HAL','HAPPSTMNDS','HATHWAY','HATSUN','HAVELLS','HCC','HCG','HCLTECH','HDFC','HDFCAMC','HDFCBANK','HDFCLIFE',
                'HEG','HEIDELBERG','HEMIPROP','HERANBA','HERITGFOOD','HEROMOTOCO','HESTERBIO','HFCL','HGINFRA','HIKAL','HIL',
                'HIMATSEIDE','HINDALCO','HINDCOPPER','HINDOILEXP','HINDPETRO','HINDUNILVR','HINDZINC','HOMEFIRST','HONAUT',
                'HSCL','HUDCO','HUHTAMAKI','IBREALEST','IBULHSGFIN','ICICIBANK','ICICIGI','ICICIPRULI','ICIL','ICRA','IDBI',
                'IDEA','IDFC','IDFCFIRSTB','IEX','IFBIND','IFCI','IGL','IGPL','IIFLSEC','IIFLWAM','IMFA','INDHOTEL','INDIACEM',
                'INDIAGLYCO','INDIAMART','INDIANB','INDIGO','INDIGOPNTS','INDOCO','INDOSTAR','INDUSINDBK','INDUSTOWER',
                'INEOSSTYRO','INFIBEAM','INFY','INGERRAND','INOXLEISUR','INOXWIND','INTELLECT','IOB','IOC','IOLCP','IPCALAB',
                'IRB','IRCON','IRCTC','IRFC','ISEC','ITC','ITDC','ITDCEM','ITI','J&KBANK','JAGRAN','JAICORPLTD','JAMNAAUTO',
                'JBCHEPHARM','JBMA','JCHAC','JINDALPOLY','JINDALSAW','JINDALSTEL','JKCEMENT','JKIL','JKLAKSHMI','JKPAPER',
                'JKTYRE','JMCPROJECT','JMFINANCIL','JPPOWER','JSL','JSLHISAR','JSWHL','JSWSTEEL','JTEKTINDIA','JUBLFOOD',
                'JUBLINGREA','JUBLPHARMA','JUSTDIAL','JYOTHYLAB','KAJARIACER','KALPATPOWR','KALYANKJIL','KANSAINER',
                'KARURVYSYA','KEC','KEI','KIOCL','KIRIINDUS','KIRLOSENG','KIRLOSIND','KNRCON','KOLTEPATIL','KOTAKBANK',
                'KPITTECH','KPRMILL','KRBL','KSB','KSCL','KSL','KTKBANK','L&TFH','LALPATHLAB','LAOPALA','LAURUSLABS',
                'LAXMIMACH','LEMONTREE','LICHSGFIN','LINDEINDIA','LT','LTI','LTTS','LUMAXIND','LUPIN','LUXIND','LXCHEM',
                'M&M','M&MFIN','MAHABANK','MAHINDCIE','MAHLIFE','MAHLOG','MAHSCOOTER','MAHSEAMLES','MAITHANALL','MANAPPURAM',
                'MARICO','MARKSANS','MARUTI','MASFIN','MASTEK','MATRIMONY','MAXHEALTH','MAYURUNIQ','MAZDOCK','MCDOWELL-N',
                'METROPOLIS','MFSL','MGL','MHRIL','MIDHANI','MINDACORP','MINDAIND','MINDTREE','MMFL','MMTC','MOIL','MOREPENLAB',
                'MOTHERSUMI','MOTILALOFS','MPHASIS','MRF','MRPL','MSTCLTD','MTARTECH','MTNL','MUTHOOTFIN','NAM-INDIA',
                'NATCOPHARM','NATIONALUM','NAUKRI','NAVINFLUOR','NAVNETEDUL','NAZARA','NBCC','NBVENTURES','NCC','NEOGEN',
                'NESCO','NETWORK18','NEWGEN','NFL','NH','NHPC','NIACL','NIITLTD','NILKAMAL','NLCINDIA','NMDC','NOCIL','NTPC',
                'NUCLEUS','OAL','OBEROIRLTY','OFSS','OIL','OMAXE','ONGC','ORIENTCEM','ORIENTELEC','ORISSAMINE','PAGEIND',
                'PAISALO','PCJEWELLER','PEL','PERSISTENT','PETRONET','PFC','PFIZER','PGHH','PGHL','PHOENIXLTD','PIDILITIND',
                'PIIND','PILANIINVS','PNB','PNCINFRA','POLYCAB','POLYMED','POLYPLEX','POWERGRID','POWERINDIA','PRAKASH',
                'PRESTIGE','PRINCEPIPE','PRIVISCL','PRSMJOHNSN','PSB','PSPPROJECT','PTC','PURVA','PVR','QUESS','QUICKHEAL',
                'RADICO','RAILTEL','RAIN','RAJESHEXPO','RALLIS','RAMCOCEM','RAMCOIND','RAMCOSYS','RATNAMANI','RAYMOND',
                'RBLBANK','RCF','RECLTD','REDINGTON','RELAXO','RELIANCE','RELIGARE','REPCOHOME','RESPONIND','RITES','RKFORGE',
                'ROSSARI','ROUTE','RSYSTEMS','RUCHI','RUPA','RVNL','SAFARI','SAGCEM','SAIL','SANDHAR','SANOFI','SASKEN',
                'SBICARD','SBILIFE','SBIN','SCHAEFFLER','SCHNEIDER','SCI','SEQUENT','SFL','SHARDACROP','SHILPAMED','SHK',
                'SHOPERSTOP','SHREECEM','SHRIRAMCIT','SIEMENS','SIS','SJVN','SKFINDIA','SOBHA','SOLARA','SOLARINDS',
                'SONATSOFTW','SOTL','SOUTHBANK','SPANDANA','SPARC','SRF','SRTRANSFIN','STAR','STARCEMENT','STLTECH',
                'STOVEKRAFT','SUBEXLTD','SUBROS','SUDARSCHEM','SUMICHEM','SUNCLAYLTD','SUNDARMFIN','SUNDRMFAST','SUNPHARMA',
                'SUNTECK','SUNTV','SUPRAJIT','SUPREMEIND','SURYAROSNI','SURYODAY','SUVENPHAR','SUVIDHAA','SUZLON',
                'SWANENERGY','SWARAJENG','SWSOLAR','SYMPHONY','SYNGENE','TASTYBITE','TATACHEM','TATACOFFEE','TATACOMM',
                'TATACONSUM','TATAELXSI','TATAINVEST','TATAMETALI','TATAMOTORS','TATAPOWER','TATASTEEL','TCI','TCIEXP',
                'TCNSBRANDS','TCS','TEAMLEASE','TECHM','TECHNOE','THERMAX','THOMASCOOK','THYROCARE','TIDEWATER','TIINDIA',
                'TIMETECHNO','TIMKEN','TINPLATE','TITAN','TORNTPHARM','TORNTPOWER','TRENT','TRITURBINE','TRIVENI','TTKPRESTIG',
                'TV18BRDCST','TVSMOTOR','TVSSRICHAK','TVTODAY','UBL','UCOBANK','UFLEX','UJJIVAN','UJJIVANSFB','ULTRACEMCO',
                'UNICHEMLAB','UNIONBANK','UPL','UTIAMC','VAIBHAVGBL','VAKRANGEE','VARROC','VBL','VEDL','VENKEYS','VESUVIUS',
                'VGUARD','VINATIORGA','VIPIND','VMART','VOLTAS','VRLLOG','VSTIND','VSTTILLERS','VTL','WABAG','WABCOINDIA',
                'WELCORP','WELENT','WELSPUNIND','WHIRLPOOL','WIPRO','WOCKPHARMA','WSTCSTPAPR','YESBANK','ZEEL','ZENSARTECH',
                'ZYDUSWELL',]

In [5]:
for x in range(1,100):
    try:
        raw_df = pd.read_csv(path(x,0))

        #Reanming columns
        old_col_list = [' SYMBOL',' SERIES',' DATE1',' PREV_CLOSE',' OPEN_PRICE',' HIGH_PRICE',
                        ' LOW_PRICE',' LAST_PRICE',' CLOSE_PRICE',' AVG_PRICE',' TTL_TRD_QNTY',
                        ' TURNOVER_LACS',' NO_OF_TRADES',' DELIV_QTY',' DELIV_PER']

        for j in old_col_list: 
            raw_df.rename(columns = {j:j.strip()}, inplace = True)


        #Deleting 'Turnover_Lacs' column which is not needed 
        raw_df.drop('TURNOVER_LACS', axis=1, inplace=True) 
        raw_df.rename(columns={'DATE1':'DATE'}, inplace=True)


        # Keeping companies who comes under equity section
        raw_df = raw_df.loc[raw_df['SERIES'] == ' EQ'] 
        raw_df.reset_index(drop=True, inplace=True)
        # Creating temp datafrmae this data frame will keep records of company which are in our list 
        temp_df = pd.DataFrame()
        for z in Company_list:
            temp_df = temp_df.append(raw_df.loc[raw_df['SYMBOL'] == z], ignore_index=True) 
        print(f'{oldDate(x).strftime("%Y-%m-%d")} cleaned succesfully')
        # Saving clean temp_df to Local system in Clean_bhovcopy file 
        temp_df.to_csv(path(x,1),index=False)
    except:
        pass

2022-04-04 cleaned succesfully
2022-04-01 cleaned succesfully
2022-03-31 cleaned succesfully
2022-03-30 cleaned succesfully
2022-03-29 cleaned succesfully
2022-03-28 cleaned succesfully
2022-03-27 cleaned succesfully
2022-03-25 cleaned succesfully
2022-03-24 cleaned succesfully
2022-03-23 cleaned succesfully
2022-03-22 cleaned succesfully
2022-03-21 cleaned succesfully
2022-03-20 cleaned succesfully
2022-03-18 cleaned succesfully
2022-03-17 cleaned succesfully
2022-03-16 cleaned succesfully
2022-03-15 cleaned succesfully
2022-03-14 cleaned succesfully
2022-03-13 cleaned succesfully
2022-03-11 cleaned succesfully
2022-03-10 cleaned succesfully
2022-03-09 cleaned succesfully
2022-03-08 cleaned succesfully
2022-03-06 cleaned succesfully
2022-03-04 cleaned succesfully
2022-03-03 cleaned succesfully
2022-03-02 cleaned succesfully
2022-03-01 cleaned succesfully
2022-02-28 cleaned succesfully
2022-02-27 cleaned succesfully
2022-02-25 cleaned succesfully
2022-02-24 cleaned succesfully
2022-02-23 cleaned succesfully
2022-02-22 cleaned succesfully
2022-02-21 cleaned succesfully
2022-02-20 cleaned succesfully
2022-02-18 cleaned succesfully
2022-02-17 cleaned succesfully
2022-02-16 cleaned succesfully
2022-02-15 cleaned succesfully
2022-02-14 cleaned succesfully
2022-02-13 cleaned succesfully
2022-02-11 cleaned succesfully
2022-02-10 cleaned succesfully
2022-02-09 cleaned succesfully
2022-02-08 cleaned succesfully
2022-02-07 cleaned succesfully
2022-02-06 cleaned succesfully
2022-02-04 cleaned succesfully
2022-02-03 cleaned succesfully
2022-02-02 cleaned succesfully
2022-02-01 cleaned succesfully
2022-01-31 cleaned succesfully
2022-01-30 cleaned succesfully
2022-01-28 cleaned succesfully
2022-01-27 cleaned succesfully
2022-01-26 cleaned succesfully
2022-01-25 cleaned succesfully
2022-01-24 cleaned succesfully
2022-01-23 cleaned succesfully
2022-01-21 cleaned succesfully
2022-01-20 cleaned succesfully
2022-01-19 cleaned succesfully
2022-01-18 cleaned succesfully
2022-01-17 cleaned succesfully
2022-01-16 cleaned succesfully
2022-01-14 cleaned succesfully
2022-01-13 cleaned succesfully
2022-01-12 cleaned succesfully
2022-01-11 cleaned succesfully
2022-01-10 cleaned succesfully
2022-01-09 cleaned succesfully
2022-01-07 cleaned succesfully
2022-01-06 cleaned succesfully
2022-01-05 cleaned succesfully
2022-01-04 cleaned succesfully
2022-01-03 cleaned succesfully
2022-01-02 cleaned succesfully
2021-12-31 cleaned succesfully
2021-12-30 cleaned succesfully
2021-12-29 cleaned succesfully
2021-12-28 cleaned succesfully
2021-12-27 cleaned succesfully

In [9]:
import os

list = os.listdir('P:/DEPROJECT/Clean_bhav_copy') # dir is your directory path
number_files = len(list)
print(number_files)

78

In [12]:
for x in range(0,number_files):
    try:
        data = pd.read_csv(path(x,1))
        display(data)
#     `data.drop_duplicates(subset ="First Name",keep = False, inplace = True)
    except:
        pass

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,04-Apr-2022,19972.85,19999.00,20555.00,19998.95,20400.00,20418.25,20383.42,4761,2898,2663,55.93
1,AARTIDRUGS,EQ,04-Apr-2022,459.20,465.00,478.60,462.15,469.00,470.40,471.48,275941,11363,96501,34.97
2,AARTIIND,EQ,04-Apr-2022,956.40,956.40,975.00,956.00,971.30,972.35,968.97,536432,24508,269482,50.24
3,AAVAS,EQ,04-Apr-2022,2514.25,2480.00,2569.80,2480.00,2501.30,2515.95,2528.82,77416,12090,22654,29.26
4,ABB,EQ,04-Apr-2022,2114.30,2096.00,2143.90,2096.00,2125.00,2130.55,2129.86,105731,10415,47282,44.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,WSTCSTPAPR,EQ,04-Apr-2022,343.10,345.85,355.75,338.00,340.70,340.80,347.29,381011,9540,208198,54.64
641,YESBANK,EQ,04-Apr-2022,12.65,12.75,13.20,12.70,13.15,13.10,12.95,114480211,62201,51193825,44.72
642,ZEEL,EQ,04-Apr-2022,299.80,299.80,308.70,297.60,302.25,302.75,303.91,12108609,80804,2629231,21.71
643,ZENSARTECH,EQ,04-Apr-2022,377.25,380.10,385.70,379.15,384.20,383.15,382.97,555380,11164,277391,49.95
644,ZYDUSWELL,EQ,04-Apr-2022,1559.60,1575.85,1584.30,1561.10,1574.95,1574.60,1577.13,35203,4152,17866,50.75

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,01-Apr-2022,19697.30,19710.00,20425.75,19680.00,20000.00,19972.85,20070.12,4284,2207,2452,57.24
1,AARTIDRUGS,EQ,01-Apr-2022,429.10,430.00,464.80,430.00,462.00,459.20,449.66,350018,11448,121529,34.72
2,AARTIIND,EQ,01-Apr-2022,956.65,972.00,977.35,950.80,957.15,956.40,961.26,731142,34493,254225,34.77
3,AAVAS,EQ,01-Apr-2022,2569.45,2569.45,2582.00,2450.10,2505.00,2514.25,2502.53,206377,31804,69631,33.74
4,ABB,EQ,01-Apr-2022,2157.95,2155.00,2155.00,2101.00,2111.00,2114.30,2128.70,180591,18730,87905,48.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,WSTCSTPAPR,EQ,01-Apr-2022,334.25,335.00,346.00,331.60,344.00,343.10,341.34,438650,11629,202263,46.11
641,YESBANK,EQ,01-Apr-2022,12.30,12.25,12.70,12.25,12.65,12.65,12.58,87342736,58261,35840033,41.03
642,ZEEL,EQ,01-Apr-2022,288.35,288.00,301.90,285.15,299.45,299.80,295.38,13698030,82737,2437274,17.79
643,ZENSARTECH,EQ,01-Apr-2022,366.95,366.50,380.00,366.00,378.50,377.25,375.58,508306,12617,253931,49.96
644,ZYDUSWELL,EQ,01-Apr-2022,1501.15,1515.00,1565.00,1508.90,1556.00,1559.60,1543.68,48933,4734,25714,52.55

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,31-Mar-2022,19528.65,19677.00,19998.90,19510.00,19525.00,19697.30,19662.67,5993,3910,4065,67.83
1,AARTIDRUGS,EQ,31-Mar-2022,430.45,432.00,442.80,425.90,425.90,429.10,437.52,503047,11925,301071,59.85
2,AARTIIND,EQ,31-Mar-2022,941.95,949.50,962.00,941.05,954.35,956.65,953.56,807901,32293,307904,38.11
3,AAVAS,EQ,31-Mar-2022,2507.85,2497.00,2599.00,2410.00,2589.95,2569.45,2514.23,271547,26097,139415,51.34
4,ABB,EQ,31-Mar-2022,2083.50,2065.00,2179.00,2032.00,2140.00,2157.95,2069.53,1052222,30661,168338,16.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,31-Mar-2022,322.50,321.00,342.80,320.50,332.00,334.25,333.73,352002,7161,203203,57.73
642,YESBANK,EQ,31-Mar-2022,12.25,12.25,12.45,12.20,12.25,12.30,12.34,94468344,95721,36695999,38.84
643,ZEEL,EQ,31-Mar-2022,294.00,295.50,295.50,286.95,288.30,288.35,290.40,7805589,53098,2181411,27.95
644,ZENSARTECH,EQ,31-Mar-2022,372.45,373.70,377.70,365.00,367.95,366.95,370.82,622231,12496,290255,46.65
645,ZYDUSWELL,EQ,31-Mar-2022,1508.25,1522.20,1536.10,1483.60,1505.00,1501.15,1507.53,56799,7622,22923,40.36

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,30-Mar-2022,19680.35,19911.00,19999.00,19402.00,19500.00,19528.65,19679.22,3066,1896,1939,63.24
1,AARTIDRUGS,EQ,30-Mar-2022,420.80,421.25,440.50,420.00,433.00,430.45,427.25,276908,11233,168617,60.89
2,AARTIIND,EQ,30-Mar-2022,922.35,928.00,950.80,923.55,941.00,941.95,938.32,759425,28598,269350,35.47
3,AAVAS,EQ,30-Mar-2022,2325.70,2350.00,2539.00,2312.05,2500.35,2507.85,2445.68,331809,36893,157702,47.53
4,ABB,EQ,30-Mar-2022,2038.80,2051.95,2095.45,2035.65,2076.10,2083.50,2072.31,149949,13835,72772,48.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,30-Mar-2022,322.15,327.90,330.75,320.00,320.30,322.50,326.36,168933,3511,94508,55.94
642,YESBANK,EQ,30-Mar-2022,12.55,12.65,12.75,12.10,12.25,12.25,12.34,234110133,134886,109473079,46.76
643,ZEEL,EQ,30-Mar-2022,284.70,286.85,298.50,284.00,292.65,294.00,292.30,19227857,123769,2502882,13.02
644,ZENSARTECH,EQ,30-Mar-2022,373.20,375.90,383.85,369.85,372.50,372.45,376.80,779221,13797,461329,59.20
645,ZYDUSWELL,EQ,30-Mar-2022,1468.25,1470.00,1523.70,1470.00,1522.20,1508.25,1493.92,82629,11802,56125,67.92

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,29-Mar-2022,19521.40,19600.5,20600.00,19374.10,20015.00,19680.35,19546.40,7450,2160,5775,77.52
1,AARTIDRUGS,EQ,29-Mar-2022,426.95,429.0,441.00,419.00,420.00,420.80,428.01,297607,10614,153640,51.63
2,AARTIIND,EQ,29-Mar-2022,907.55,910.0,933.00,910.00,923.05,922.35,923.82,710079,20317,370835,52.22
3,AAVAS,EQ,29-Mar-2022,2164.95,2180.0,2544.00,2135.10,2340.45,2325.70,2229.54,246558,26544,131409,53.30
4,ABB,EQ,29-Mar-2022,2002.90,2009.9,2055.00,2000.00,2052.55,2038.80,2029.55,149014,16610,68572,46.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,29-Mar-2022,315.80,318.5,332.00,316.00,327.40,322.15,325.76,468656,8003,230140,49.11
642,YESBANK,EQ,29-Mar-2022,12.55,12.6,12.80,12.45,12.65,12.55,12.57,89485918,63344,39584803,44.24
643,ZEEL,EQ,29-Mar-2022,289.90,295.0,296.00,281.35,282.80,284.70,288.18,18848071,86623,6363211,33.76
644,ZENSARTECH,EQ,29-Mar-2022,372.15,375.9,380.55,369.65,373.25,373.20,374.02,850698,13361,437278,51.40
645,ZYDUSWELL,EQ,29-Mar-2022,1464.45,1465.0,1475.00,1447.35,1468.40,1468.25,1464.13,29398,3192,18143,61.72

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,28-Mar-2022,19845.30,20169.00,20169.00,19500.00,19520.00,19521.40,19598.56,4060,1269,3189,78.55
1,AARTIDRUGS,EQ,28-Mar-2022,437.90,437.90,439.95,422.90,428.00,426.95,428.07,252801,10487,132861,52.56
2,AARTIIND,EQ,28-Mar-2022,923.15,923.15,933.65,904.25,908.70,907.55,913.76,920464,23756,614181,66.73
3,AAVAS,EQ,28-Mar-2022,2198.05,2199.00,2270.00,2114.15,2152.00,2164.95,2177.10,223984,39391,108732,48.54
4,ABB,EQ,28-Mar-2022,1989.30,1985.00,2019.00,1944.60,1997.75,2002.90,1989.51,184576,16739,52587,28.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,28-Mar-2022,320.55,323.65,323.70,307.00,315.25,315.80,316.04,362792,6385,233466,64.35
642,YESBANK,EQ,28-Mar-2022,12.70,12.75,12.80,12.50,12.55,12.55,12.61,81110072,62307,32550203,40.13
643,ZEEL,EQ,28-Mar-2022,295.10,295.50,297.55,288.35,289.50,289.90,290.93,14722885,76492,3301369,22.42
644,ZENSARTECH,EQ,28-Mar-2022,375.45,375.45,377.25,367.95,371.00,372.15,372.10,637094,11444,301950,47.39
645,ZYDUSWELL,EQ,28-Mar-2022,1475.15,1475.15,1481.55,1442.05,1469.95,1464.45,1458.77,30999,3805,16852,54.36

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,25-Mar-2022,19976.80,19999.0,20249.95,19770.00,19770.00,19845.30,20043.20,3398,2164,2137,62.89
1,AARTIDRUGS,EQ,25-Mar-2022,438.65,441.0,443.75,437.00,437.05,437.90,439.61,136519,4954,79392,58.15
2,AARTIIND,EQ,25-Mar-2022,919.40,925.0,932.50,918.05,920.00,923.15,924.46,719667,28003,298575,41.49
3,AAVAS,EQ,25-Mar-2022,2258.20,2260.0,2270.00,2165.00,2200.00,2198.05,2219.83,128657,17135,72175,56.10
4,ABB,EQ,25-Mar-2022,2038.65,2049.4,2054.85,1983.00,1985.10,1989.30,2013.15,100470,13471,37554,37.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,25-Mar-2022,321.95,321.9,325.95,316.00,319.55,320.55,321.06,267821,10296,154662,57.75
642,YESBANK,EQ,25-Mar-2022,12.75,12.8,12.85,12.65,12.75,12.70,12.75,48911163,57305,25701669,52.55
643,ZEEL,EQ,25-Mar-2022,298.90,303.0,303.75,293.00,295.60,295.10,297.08,30465535,169051,5842173,19.18
644,ZENSARTECH,EQ,25-Mar-2022,377.80,380.0,382.60,373.20,375.05,375.45,379.01,539525,11059,262300,48.62
645,ZYDUSWELL,EQ,25-Mar-2022,1487.30,1488.0,1497.00,1467.05,1480.10,1475.15,1479.60,19387,2717,10771,55.56

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,25-Mar-2022,19976.80,19999.0,20249.95,19770.00,19770.00,19845.30,20043.20,3398,2164,2137,62.89
1,AARTIDRUGS,EQ,25-Mar-2022,438.65,441.0,443.75,437.00,437.05,437.90,439.61,136519,4954,79392,58.15
2,AARTIIND,EQ,25-Mar-2022,919.40,925.0,932.50,918.05,920.00,923.15,924.46,719667,28003,298575,41.49
3,AAVAS,EQ,25-Mar-2022,2258.20,2260.0,2270.00,2165.00,2200.00,2198.05,2219.83,128657,17135,72175,56.10
4,ABB,EQ,25-Mar-2022,2038.65,2049.4,2054.85,1983.00,1985.10,1989.30,2013.15,100470,13471,37554,37.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,25-Mar-2022,321.95,321.9,325.95,316.00,319.55,320.55,321.06,267821,10296,154662,57.75
642,YESBANK,EQ,25-Mar-2022,12.75,12.8,12.85,12.65,12.75,12.70,12.75,48911163,57305,25701669,52.55
643,ZEEL,EQ,25-Mar-2022,298.90,303.0,303.75,293.00,295.60,295.10,297.08,30465535,169051,5842173,19.18
644,ZENSARTECH,EQ,25-Mar-2022,377.80,380.0,382.60,373.20,375.05,375.45,379.01,539525,11059,262300,48.62
645,ZYDUSWELL,EQ,25-Mar-2022,1487.30,1488.0,1497.00,1467.05,1480.10,1475.15,1479.60,19387,2717,10771,55.56

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,24-Mar-2022,20250.35,20210.00,20324.65,19899.85,19902.00,19976.80,20024.78,2642,1768,1665,63.02
1,AARTIDRUGS,EQ,24-Mar-2022,444.85,444.85,447.25,436.00,437.00,438.65,440.46,192727,7199,116572,60.49
2,AARTIIND,EQ,24-Mar-2022,912.55,912.55,925.85,909.60,919.45,919.40,919.53,446309,25505,201229,45.09
3,AAVAS,EQ,24-Mar-2022,2312.40,2317.95,2317.95,2237.95,2256.00,2258.20,2266.51,181406,22518,95359,52.57
4,ABB,EQ,24-Mar-2022,2050.80,1991.25,2054.00,1982.00,2035.00,2038.65,2014.43,251286,22032,87598,34.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,24-Mar-2022,317.20,317.35,326.00,314.00,320.00,321.95,320.61,357398,9711,204593,57.25
642,YESBANK,EQ,24-Mar-2022,12.85,12.80,12.85,12.75,12.80,12.75,12.80,46327191,58327,19046215,41.11
643,ZEEL,EQ,24-Mar-2022,256.05,281.65,307.25,281.65,299.30,298.90,298.08,86772872,422852,22092817,25.46
644,ZENSARTECH,EQ,24-Mar-2022,383.15,382.40,382.40,375.00,377.00,377.80,379.39,518707,12130,225416,43.46
645,ZYDUSWELL,EQ,24-Mar-2022,1470.60,1470.60,1508.65,1462.20,1482.00,1487.30,1489.97,68000,8561,43522,64.00

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,23-Mar-2022,20040.90,20198.00,20799.00,20130.00,20155.00,20250.35,20366.60,5094,2843,3204,62.90
1,AARTIDRUGS,EQ,23-Mar-2022,451.25,452.00,453.35,443.50,444.00,444.85,448.58,122858,5057,68031,55.37
2,AARTIIND,EQ,23-Mar-2022,908.35,915.40,920.00,905.45,910.00,912.55,912.63,426212,18537,183283,43.00
3,AAVAS,EQ,23-Mar-2022,2342.25,2365.00,2365.00,2302.10,2309.00,2312.40,2322.64,155879,29044,109677,70.36
4,ABB,EQ,23-Mar-2022,2077.15,2089.95,2096.30,2029.35,2037.00,2050.80,2057.10,512732,13654,102037,19.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,23-Mar-2022,322.75,323.90,325.00,310.35,317.35,317.20,319.21,274692,8329,144860,52.74
642,YESBANK,EQ,23-Mar-2022,12.80,12.90,13.00,12.80,12.80,12.85,12.86,77401990,114064,31556472,40.77
643,ZEEL,EQ,23-Mar-2022,248.55,251.00,260.90,244.20,253.75,256.05,253.75,18175302,113619,2819495,15.51
644,ZENSARTECH,EQ,23-Mar-2022,385.75,389.00,392.35,381.65,382.35,383.15,385.86,812240,24489,311149,38.31
645,ZYDUSWELL,EQ,23-Mar-2022,1472.95,1472.95,1527.55,1460.00,1470.20,1470.60,1482.27,257679,11675,213444,82.83

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,22-Mar-2022,19802.90,19949.00,20199.80,19600.00,19980.00,20040.90,19828.21,6677,3328,4518,67.67
1,AARTIDRUGS,EQ,22-Mar-2022,452.20,452.00,459.60,450.10,451.00,451.25,453.48,114477,4802,68555,59.89
2,AARTIIND,EQ,22-Mar-2022,911.35,912.00,916.05,893.00,910.25,908.35,903.64,527993,25562,151829,28.76
3,AAVAS,EQ,22-Mar-2022,2396.90,2401.20,2409.50,2322.10,2325.00,2342.25,2347.77,175079,22661,106051,60.57
4,ABB,EQ,22-Mar-2022,2091.45,2100.00,2101.15,2058.00,2066.00,2077.15,2079.33,96849,13761,46720,48.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,22-Mar-2022,323.95,328.00,334.00,319.00,324.00,322.75,325.53,615144,17054,160965,26.17
642,YESBANK,EQ,22-Mar-2022,12.95,13.05,13.05,12.75,12.85,12.80,12.85,80397218,62396,32185719,40.03
643,ZEEL,EQ,22-Mar-2022,256.80,257.00,258.70,243.05,248.20,248.55,248.78,14965332,79729,2404144,16.06
644,ZENSARTECH,EQ,22-Mar-2022,371.30,372.90,387.00,363.65,386.50,385.75,377.80,1197190,26699,507117,42.36
645,ZYDUSWELL,EQ,22-Mar-2022,1478.20,1478.20,1494.00,1468.00,1471.75,1472.95,1481.22,52151,11658,31707,60.80

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,21-Mar-2022,20026.75,20210.00,20239.95,19755.05,19817.95,19802.90,19967.92,4324,1687,3495,80.83
1,AARTIDRUGS,EQ,21-Mar-2022,454.85,454.85,460.00,450.00,450.00,452.20,454.75,164278,5920,86694,52.77
2,AARTIIND,EQ,21-Mar-2022,891.60,892.00,935.00,888.00,913.70,911.35,914.16,2014155,57728,922102,45.78
3,AAVAS,EQ,21-Mar-2022,2489.85,2515.00,2518.00,2344.95,2413.50,2396.90,2410.44,318296,37478,186013,58.44
4,ABB,EQ,21-Mar-2022,2101.35,2120.30,2124.85,2079.40,2080.00,2091.45,2099.97,208149,11364,139109,66.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,21-Mar-2022,307.20,319.00,331.90,318.20,324.00,323.95,326.03,1773585,44762,508040,28.64
642,YESBANK,EQ,21-Mar-2022,12.95,13.20,13.45,12.90,12.95,12.95,13.14,132143743,88092,44044037,33.33
643,ZEEL,EQ,21-Mar-2022,258.80,258.95,263.30,256.10,256.45,256.80,259.49,8909916,46358,1764689,19.81
644,ZENSARTECH,EQ,21-Mar-2022,376.90,380.00,386.50,369.40,371.00,371.30,378.01,726178,15707,327365,45.08
645,ZYDUSWELL,EQ,21-Mar-2022,1497.60,1492.00,1513.95,1470.00,1478.90,1478.20,1492.16,40018,8456,23993,59.96

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,17-Mar-2022,19679.15,19900.0,20249.80,19738.75,20035.95,20026.75,20059.32,12906,5209,10226,79.23
1,AARTIDRUGS,EQ,17-Mar-2022,448.60,450.0,463.60,450.00,455.65,454.85,456.63,137244,6106,61236,44.62
2,AARTIIND,EQ,17-Mar-2022,859.45,875.0,898.55,868.50,892.00,891.60,889.52,1550992,78547,872216,56.24
3,AAVAS,EQ,17-Mar-2022,2443.25,2475.0,2506.65,2400.05,2502.00,2489.85,2434.93,142815,21434,69888,48.94
4,ABB,EQ,17-Mar-2022,2190.95,2205.0,2208.00,2090.00,2096.90,2101.35,2145.55,603010,29710,378379,62.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,17-Mar-2022,306.70,309.7,315.90,300.20,305.90,307.20,308.79,850649,20710,263177,30.94
642,YESBANK,EQ,17-Mar-2022,12.80,12.9,13.40,12.25,13.10,12.95,12.94,820519351,104465,532676396,64.92
643,ZEEL,EQ,17-Mar-2022,254.15,259.8,261.75,255.80,257.80,258.80,259.29,9120713,57782,2304037,25.26
644,ZENSARTECH,EQ,17-Mar-2022,367.35,370.3,384.30,370.30,376.30,376.90,377.93,895851,15110,375650,41.93
645,ZYDUSWELL,EQ,17-Mar-2022,1524.00,1530.0,1543.50,1481.05,1493.00,1497.60,1516.70,60978,7874,40335,66.15

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,17-Mar-2022,19679.15,19900.0,20249.80,19738.75,20035.95,20026.75,20059.32,12906,5209,10226,79.23
1,AARTIDRUGS,EQ,17-Mar-2022,448.60,450.0,463.60,450.00,455.65,454.85,456.63,137244,6106,61236,44.62
2,AARTIIND,EQ,17-Mar-2022,859.45,875.0,898.55,868.50,892.00,891.60,889.52,1550992,78547,872216,56.24
3,AAVAS,EQ,17-Mar-2022,2443.25,2475.0,2506.65,2400.05,2502.00,2489.85,2434.93,142815,21434,69888,48.94
4,ABB,EQ,17-Mar-2022,2190.95,2205.0,2208.00,2090.00,2096.90,2101.35,2145.55,603010,29710,378379,62.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,17-Mar-2022,306.70,309.7,315.90,300.20,305.90,307.20,308.79,850649,20710,263177,30.94
642,YESBANK,EQ,17-Mar-2022,12.80,12.9,13.40,12.25,13.10,12.95,12.94,820519351,104465,532676396,64.92
643,ZEEL,EQ,17-Mar-2022,254.15,259.8,261.75,255.80,257.80,258.80,259.29,9120713,57782,2304037,25.26
644,ZENSARTECH,EQ,17-Mar-2022,367.35,370.3,384.30,370.30,376.30,376.90,377.93,895851,15110,375650,41.93
645,ZYDUSWELL,EQ,17-Mar-2022,1524.00,1530.0,1543.50,1481.05,1493.00,1497.60,1516.70,60978,7874,40335,66.15

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,17-Mar-2022,19679.15,19900.0,20249.80,19738.75,20035.95,20026.75,20059.32,12906,5209,10226,79.23
1,AARTIDRUGS,EQ,17-Mar-2022,448.60,450.0,463.60,450.00,455.65,454.85,456.63,137244,6106,61236,44.62
2,AARTIIND,EQ,17-Mar-2022,859.45,875.0,898.55,868.50,892.00,891.60,889.52,1550992,78547,872216,56.24
3,AAVAS,EQ,17-Mar-2022,2443.25,2475.0,2506.65,2400.05,2502.00,2489.85,2434.93,142815,21434,69888,48.94
4,ABB,EQ,17-Mar-2022,2190.95,2205.0,2208.00,2090.00,2096.90,2101.35,2145.55,603010,29710,378379,62.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,17-Mar-2022,306.70,309.7,315.90,300.20,305.90,307.20,308.79,850649,20710,263177,30.94
642,YESBANK,EQ,17-Mar-2022,12.80,12.9,13.40,12.25,13.10,12.95,12.94,820519351,104465,532676396,64.92
643,ZEEL,EQ,17-Mar-2022,254.15,259.8,261.75,255.80,257.80,258.80,259.29,9120713,57782,2304037,25.26
644,ZENSARTECH,EQ,17-Mar-2022,367.35,370.3,384.30,370.30,376.30,376.90,377.93,895851,15110,375650,41.93
645,ZYDUSWELL,EQ,17-Mar-2022,1524.00,1530.0,1543.50,1481.05,1493.00,1497.60,1516.70,60978,7874,40335,66.15

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,16-Mar-2022,19562.50,19650.00,19809.95,19480.00,19590.00,19679.15,19627.59,20653,5809,16862,81.64
1,AARTIDRUGS,EQ,16-Mar-2022,443.65,450.85,450.95,444.05,449.50,448.60,448.35,111003,4152,67159,60.50
2,AARTIIND,EQ,16-Mar-2022,859.40,867.70,873.10,850.20,860.00,859.45,862.72,637838,21228,281581,44.15
3,AAVAS,EQ,16-Mar-2022,2452.55,2465.50,2496.00,2434.85,2440.00,2443.25,2458.16,57617,13734,29962,52.00
4,ABB,EQ,16-Mar-2022,2091.70,2102.00,2202.60,2102.00,2187.00,2190.95,2177.63,231640,26268,114365,49.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,16-Mar-2022,289.90,295.00,315.70,293.55,308.00,306.70,305.88,2836236,57379,822614,29.00
642,YESBANK,EQ,16-Mar-2022,12.70,12.80,12.85,12.75,12.80,12.80,12.79,63630406,47198,44420416,69.81
643,ZEEL,EQ,16-Mar-2022,253.95,259.00,259.00,253.00,254.60,254.15,254.88,8512767,41218,2556030,30.03
644,ZENSARTECH,EQ,16-Mar-2022,361.40,368.60,370.00,364.00,368.00,367.35,366.08,546373,10001,311992,57.10
645,ZYDUSWELL,EQ,16-Mar-2022,1529.35,1542.95,1547.95,1511.00,1517.55,1524.00,1528.12,17361,2645,11524,66.38

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,15-Mar-2022,19704.95,19810.00,20177.75,19451.00,19483.10,19562.50,19755.57,6314,2970,3760,59.55
1,AARTIDRUGS,EQ,15-Mar-2022,452.10,453.00,458.70,441.50,445.90,443.65,449.54,144165,5670,72422,50.24
2,AARTIIND,EQ,15-Mar-2022,870.60,875.75,882.00,851.45,858.15,859.40,868.39,816692,33678,297967,36.48
3,AAVAS,EQ,15-Mar-2022,2486.15,2515.00,2515.00,2415.35,2440.00,2452.55,2451.96,121272,21618,62619,51.64
4,ABB,EQ,15-Mar-2022,2078.50,2078.50,2095.10,2041.05,2092.95,2091.70,2075.66,178988,19092,97429,54.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,15-Mar-2022,274.70,275.90,304.90,275.90,291.00,289.90,294.83,2323275,56786,756539,32.56
642,YESBANK,EQ,15-Mar-2022,12.70,12.80,12.80,12.60,12.65,12.70,12.75,82661443,66559,45846155,55.46
643,ZEEL,EQ,15-Mar-2022,259.20,260.00,263.95,252.60,253.40,253.95,258.39,15453515,85285,3491323,22.59
644,ZENSARTECH,EQ,15-Mar-2022,365.85,367.50,371.50,358.60,362.00,361.40,365.33,649406,26347,343464,52.89
645,ZYDUSWELL,EQ,15-Mar-2022,1508.10,1500.00,1548.75,1500.00,1530.00,1529.35,1529.19,38606,4993,16934,43.86

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,14-Mar-2022,19897.40,19999.95,19999.95,19433.75,19968.00,19704.95,19605.36,4640,2827,2842,61.25
1,AARTIDRUGS,EQ,14-Mar-2022,466.20,466.20,466.20,451.00,453.00,452.10,455.97,120402,5931,64412,53.50
2,AARTIIND,EQ,14-Mar-2022,845.20,845.15,878.70,835.20,871.00,870.60,861.01,1208308,45107,426824,35.32
3,AAVAS,EQ,14-Mar-2022,2546.15,2542.00,2542.00,2445.15,2509.00,2486.15,2493.33,160427,36825,93198,58.09
4,ABB,EQ,14-Mar-2022,2119.95,2125.55,2125.55,2063.45,2064.00,2078.50,2082.38,237058,12772,187251,78.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,14-Mar-2022,266.95,269.00,280.45,268.00,276.00,274.70,275.08,682202,14251,353497,51.82
642,YESBANK,EQ,14-Mar-2022,12.75,12.75,12.85,12.65,12.75,12.70,12.72,69297435,60634,37234945,53.73
643,ZEEL,EQ,14-Mar-2022,242.45,244.90,262.80,244.10,258.50,259.20,256.82,27764946,152710,5844072,21.05
644,ZENSARTECH,EQ,14-Mar-2022,364.20,360.00,376.90,360.00,367.45,365.85,369.82,1207618,26686,568058,47.04
645,ZYDUSWELL,EQ,14-Mar-2022,1522.60,1535.60,1546.70,1503.00,1505.00,1508.10,1519.44,38176,5650,17614,46.14

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,11-Mar-2022,20008.50,20008.50,20098.15,19880.05,19900.00,19897.40,19961.97,5390,3101,4370,81.08
1,AARTIDRUGS,EQ,11-Mar-2022,463.00,465.00,471.40,460.20,466.90,466.20,467.03,87424,3299,48229,55.17
2,AARTIIND,EQ,11-Mar-2022,828.00,824.85,848.00,818.00,845.00,845.20,838.56,951265,31374,472182,49.64
3,AAVAS,EQ,11-Mar-2022,2558.35,2580.00,2586.00,2526.00,2536.00,2546.15,2553.77,94762,10094,61677,65.09
4,ABB,EQ,11-Mar-2022,2157.95,2155.00,2174.95,2110.00,2112.45,2119.95,2133.93,78426,10029,37596,47.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,11-Mar-2022,245.80,243.10,268.90,243.10,266.10,266.95,261.95,704328,16204,302712,42.98
642,YESBANK,EQ,11-Mar-2022,12.85,12.85,12.90,12.70,12.75,12.75,12.80,58891356,59763,31864734,54.11
643,ZEEL,EQ,11-Mar-2022,246.80,247.10,253.50,241.00,241.75,242.45,246.66,15568427,82820,3375082,21.68
644,ZENSARTECH,EQ,11-Mar-2022,363.95,361.00,368.25,358.40,364.35,364.20,364.72,612229,11249,270301,44.15
645,ZYDUSWELL,EQ,11-Mar-2022,1536.40,1530.00,1548.70,1515.00,1526.95,1522.60,1541.28,42519,2625,33275,78.26

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,11-Mar-2022,20008.50,20008.50,20098.15,19880.05,19900.00,19897.40,19961.97,5390,3101,4370,81.08
1,AARTIDRUGS,EQ,11-Mar-2022,463.00,465.00,471.40,460.20,466.90,466.20,467.03,87424,3299,48229,55.17
2,AARTIIND,EQ,11-Mar-2022,828.00,824.85,848.00,818.00,845.00,845.20,838.56,951265,31374,472182,49.64
3,AAVAS,EQ,11-Mar-2022,2558.35,2580.00,2586.00,2526.00,2536.00,2546.15,2553.77,94762,10094,61677,65.09
4,ABB,EQ,11-Mar-2022,2157.95,2155.00,2174.95,2110.00,2112.45,2119.95,2133.93,78426,10029,37596,47.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,11-Mar-2022,245.80,243.10,268.90,243.10,266.10,266.95,261.95,704328,16204,302712,42.98
642,YESBANK,EQ,11-Mar-2022,12.85,12.85,12.90,12.70,12.75,12.75,12.80,58891356,59763,31864734,54.11
643,ZEEL,EQ,11-Mar-2022,246.80,247.10,253.50,241.00,241.75,242.45,246.66,15568427,82820,3375082,21.68
644,ZENSARTECH,EQ,11-Mar-2022,363.95,361.00,368.25,358.40,364.35,364.20,364.72,612229,11249,270301,44.15
645,ZYDUSWELL,EQ,11-Mar-2022,1536.40,1530.00,1548.70,1515.00,1526.95,1522.60,1541.28,42519,2625,33275,78.26

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,10-Mar-2022,19953.15,20570.7,20799.95,19970.00,19980.00,20008.50,20363.10,6149,3521,4373,71.12
1,AARTIDRUGS,EQ,10-Mar-2022,454.75,462.2,469.25,461.25,464.00,463.00,465.37,88083,6110,37052,42.06
2,AARTIIND,EQ,10-Mar-2022,829.95,860.0,863.00,818.00,824.20,828.00,846.23,1222549,40909,549735,44.97
3,AAVAS,EQ,10-Mar-2022,2574.65,2620.0,2641.45,2516.10,2524.00,2558.35,2596.39,63192,10748,30259,47.88
4,ABB,EQ,10-Mar-2022,2142.75,2160.0,2177.85,2142.00,2151.25,2157.95,2156.55,145468,19698,84479,58.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,10-Mar-2022,244.50,247.5,249.90,242.50,246.00,245.80,246.40,76056,2652,34866,45.84
642,YESBANK,EQ,10-Mar-2022,12.75,12.9,13.00,12.75,12.85,12.85,12.90,123845769,67285,55622008,44.91
643,ZEEL,EQ,10-Mar-2022,250.60,258.0,258.00,245.00,246.50,246.80,250.49,12616988,70184,2617781,20.75
644,ZENSARTECH,EQ,10-Mar-2022,361.85,371.0,372.00,362.05,364.00,363.95,366.63,745696,16584,301225,40.40
645,ZYDUSWELL,EQ,10-Mar-2022,1507.80,1550.0,1577.95,1532.95,1533.50,1536.40,1549.84,38484,4134,23013,59.80

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,09-Mar-2022,19902.05,20180.0,20180.00,19826.55,19950.00,19953.15,19930.32,19116,2441,18239,95.41
1,AARTIDRUGS,EQ,09-Mar-2022,441.90,448.0,458.00,444.10,457.50,454.75,449.49,102032,4110,54260,53.18
2,AARTIIND,EQ,09-Mar-2022,817.40,827.0,837.70,812.00,830.00,829.95,822.01,1092734,40537,596453,54.58
3,AAVAS,EQ,09-Mar-2022,2554.30,2558.0,2615.55,2480.05,2582.00,2574.65,2531.67,143580,23146,69003,48.06
4,ABB,EQ,09-Mar-2022,2135.05,2150.0,2163.75,2101.00,2138.00,2142.75,2137.57,310556,26963,237257,76.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,09-Mar-2022,236.80,237.9,245.60,237.50,244.00,244.50,242.35,149177,2755,94418,63.29
642,YESBANK,EQ,09-Mar-2022,12.75,12.8,12.95,12.65,12.70,12.75,12.79,122615702,77526,56815295,46.34
643,ZEEL,EQ,09-Mar-2022,236.70,238.0,252.30,235.60,250.40,250.60,247.01,18640774,117324,2850981,15.29
644,ZENSARTECH,EQ,09-Mar-2022,337.45,343.0,364.00,340.25,362.35,361.85,355.39,1052269,16882,413203,39.27
645,ZYDUSWELL,EQ,09-Mar-2022,1498.95,1525.0,1525.00,1495.00,1500.00,1507.80,1509.72,52795,5337,38531,72.98

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,08-Mar-2022,19925.95,20099.80,20099.80,19652.00,19900.00,19902.05,19893.82,8537,1928,7274,85.21
1,AARTIDRUGS,EQ,08-Mar-2022,441.80,441.00,449.90,438.00,441.80,441.90,444.22,120229,5647,59480,49.47
2,AARTIIND,EQ,08-Mar-2022,804.85,808.00,823.80,792.25,821.00,817.40,804.96,898680,40912,392746,43.70
3,AAVAS,EQ,08-Mar-2022,2600.15,2591.00,2619.60,2525.00,2554.00,2554.30,2570.53,44917,11947,18211,40.54
4,ABB,EQ,08-Mar-2022,2108.95,2104.00,2158.00,2104.00,2140.05,2135.05,2134.96,132359,18481,71749,54.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,08-Mar-2022,233.70,234.00,240.25,234.00,236.90,236.80,237.00,77710,1840,40349,51.92
642,YESBANK,EQ,08-Mar-2022,12.65,12.65,12.85,12.60,12.75,12.75,12.74,86562937,59289,34555769,39.92
643,ZEEL,EQ,08-Mar-2022,238.00,236.25,240.10,228.75,234.80,236.70,235.01,13268000,79433,2890173,21.78
644,ZENSARTECH,EQ,08-Mar-2022,337.25,337.80,348.00,332.00,338.00,337.45,337.64,995610,24487,479007,48.11
645,ZYDUSWELL,EQ,08-Mar-2022,1489.35,1505.75,1513.65,1490.05,1501.75,1498.95,1499.67,44616,4128,31200,69.93

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,04-Mar-2022,21081.30,20840.00,21045.35,20215.10,20380.00,20379.35,20455.65,5957,3810,4013,67.37
1,AARTIDRUGS,EQ,04-Mar-2022,450.55,448.00,449.90,441.00,446.00,445.30,444.42,98983,6565,38820,39.22
2,AARTIIND,EQ,04-Mar-2022,881.00,878.00,878.00,825.00,827.00,829.55,846.75,1523764,86428,764183,50.15
3,AAVAS,EQ,04-Mar-2022,2845.90,2812.00,2850.00,2661.00,2678.00,2689.20,2759.88,60878,14188,30625,50.31
4,ABB,EQ,04-Mar-2022,2159.45,2145.00,2199.00,2125.10,2151.00,2155.40,2166.19,88675,13371,29394,33.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,04-Mar-2022,238.20,238.00,244.65,236.00,243.50,240.20,240.23,122635,2629,73957,60.31
642,YESBANK,EQ,04-Mar-2022,12.95,13.20,13.20,12.75,12.85,12.80,12.93,126930611,71549,52900781,41.68
643,ZEEL,EQ,04-Mar-2022,238.00,236.00,238.60,221.10,224.75,224.15,230.88,13748778,80675,2668987,19.41
644,ZENSARTECH,EQ,04-Mar-2022,354.45,351.80,356.80,345.65,352.00,349.25,349.87,495727,11291,150936,30.45
645,ZYDUSWELL,EQ,04-Mar-2022,1581.40,1584.95,1584.95,1530.30,1553.45,1564.60,1553.40,22271,2755,9934,44.61

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,04-Mar-2022,21081.30,20840.00,21045.35,20215.10,20380.00,20379.35,20455.65,5957,3810,4013,67.37
1,AARTIDRUGS,EQ,04-Mar-2022,450.55,448.00,449.90,441.00,446.00,445.30,444.42,98983,6565,38820,39.22
2,AARTIIND,EQ,04-Mar-2022,881.00,878.00,878.00,825.00,827.00,829.55,846.75,1523764,86428,764183,50.15
3,AAVAS,EQ,04-Mar-2022,2845.90,2812.00,2850.00,2661.00,2678.00,2689.20,2759.88,60878,14188,30625,50.31
4,ABB,EQ,04-Mar-2022,2159.45,2145.00,2199.00,2125.10,2151.00,2155.40,2166.19,88675,13371,29394,33.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,04-Mar-2022,238.20,238.00,244.65,236.00,243.50,240.20,240.23,122635,2629,73957,60.31
642,YESBANK,EQ,04-Mar-2022,12.95,13.20,13.20,12.75,12.85,12.80,12.93,126930611,71549,52900781,41.68
643,ZEEL,EQ,04-Mar-2022,238.00,236.00,238.60,221.10,224.75,224.15,230.88,13748778,80675,2668987,19.41
644,ZENSARTECH,EQ,04-Mar-2022,354.45,351.80,356.80,345.65,352.00,349.25,349.87,495727,11291,150936,30.45
645,ZYDUSWELL,EQ,04-Mar-2022,1581.40,1584.95,1584.95,1530.30,1553.45,1564.60,1553.40,22271,2755,9934,44.61

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,03-Mar-2022,20923.10,20905.00,21234.95,20731.75,21080.00,21081.30,21033.58,1066,816,579,54.32
1,AARTIDRUGS,EQ,03-Mar-2022,457.10,459.50,465.60,450.00,451.00,450.55,452.93,133475,8494,63547,47.61
2,AARTIIND,EQ,03-Mar-2022,903.45,917.30,920.00,873.00,882.10,881.00,888.04,1047181,56745,601286,57.42
3,AAVAS,EQ,03-Mar-2022,2797.85,2820.85,2886.00,2794.60,2859.30,2845.90,2842.81,83717,16968,49931,59.64
4,ABB,EQ,03-Mar-2022,2179.20,2200.00,2239.00,2146.00,2165.00,2159.45,2203.52,217987,29740,106643,48.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,03-Mar-2022,242.40,243.65,247.40,236.80,238.00,238.20,242.47,126627,3646,56942,44.97
642,YESBANK,EQ,03-Mar-2022,12.90,13.15,13.20,12.80,12.95,12.95,13.03,118672276,72188,57914760,48.80
643,ZEEL,EQ,03-Mar-2022,237.85,241.50,244.00,235.60,237.70,238.00,239.45,10838206,66508,1990236,18.36
644,ZENSARTECH,EQ,03-Mar-2022,349.50,353.95,365.00,352.00,353.80,354.45,357.19,701258,19202,249987,35.65
645,ZYDUSWELL,EQ,03-Mar-2022,1551.65,1559.45,1597.00,1540.40,1582.00,1581.40,1552.09,239561,3335,224718,93.80

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,02-Mar-2022,21208.40,21480.00,21480.00,20730.00,20925.00,20923.10,21006.28,1823,1120,1137,62.37
1,AARTIDRUGS,EQ,02-Mar-2022,455.70,450.00,463.15,450.00,460.00,457.10,457.38,100856,6080,41278,40.93
2,AARTIIND,EQ,02-Mar-2022,926.15,915.00,924.95,896.05,904.80,903.45,910.03,669553,29192,366087,54.68
3,AAVAS,EQ,02-Mar-2022,2795.25,2765.25,2848.15,2765.00,2800.00,2797.85,2813.19,69702,15023,37271,53.47
4,ABB,EQ,02-Mar-2022,2159.45,2153.00,2212.50,2153.00,2181.00,2179.20,2185.12,157039,14962,64847,41.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,02-Mar-2022,240.05,235.25,245.00,235.25,243.00,242.40,241.12,117729,3154,73229,62.20
642,YESBANK,EQ,02-Mar-2022,13.25,13.20,13.25,12.60,12.95,12.90,12.95,129830542,93728,60314097,46.46
643,ZEEL,EQ,02-Mar-2022,229.25,229.25,241.25,227.20,238.55,237.85,236.01,17541419,94900,3540312,20.18
644,ZENSARTECH,EQ,02-Mar-2022,346.35,346.00,354.00,343.35,349.50,349.50,349.70,644044,14271,228477,35.48
645,ZYDUSWELL,EQ,02-Mar-2022,1582.25,1580.00,1598.20,1541.20,1550.00,1551.65,1566.49,23702,5413,12425,52.42

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,28-Feb-2022,21415.10,21500.00,21749.40,20974.25,21147.65,21208.40,21367.57,2052,1462,1170,57.02
1,AARTIDRUGS,EQ,28-Feb-2022,467.45,463.20,463.20,450.50,457.25,455.70,455.08,121865,8516,51699,42.42
2,AARTIIND,EQ,28-Feb-2022,933.35,926.00,929.90,911.20,927.60,926.15,922.60,559306,23246,231881,41.46
3,AAVAS,EQ,28-Feb-2022,2853.80,2853.80,3020.50,2750.00,2790.90,2795.25,2824.53,334327,26816,193697,57.94
4,ABB,EQ,28-Feb-2022,2131.90,2096.00,2171.60,2089.20,2153.30,2159.45,2150.44,180990,30789,89646,49.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,28-Feb-2022,230.50,227.00,243.70,225.10,243.00,240.05,237.31,189695,4644,104304,54.99
642,YESBANK,EQ,28-Feb-2022,13.15,13.05,13.35,12.90,13.35,13.25,13.19,138460582,72861,64893497,46.87
643,ZEEL,EQ,28-Feb-2022,231.35,226.80,233.00,219.50,232.40,229.25,223.73,27664374,127463,12167239,43.98
644,ZENSARTECH,EQ,28-Feb-2022,339.70,339.40,354.00,330.65,352.00,346.35,342.86,1044077,24648,361112,34.59
645,ZYDUSWELL,EQ,28-Feb-2022,1602.35,1575.00,1610.00,1555.55,1570.00,1582.25,1584.85,24037,4294,11662,48.52

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,28-Feb-2022,21415.10,21500.00,21749.40,20974.25,21147.65,21208.40,21367.57,2052,1462,1170,57.02
1,AARTIDRUGS,EQ,28-Feb-2022,467.45,463.20,463.20,450.50,457.25,455.70,455.08,121865,8516,51699,42.42
2,AARTIIND,EQ,28-Feb-2022,933.35,926.00,929.90,911.20,927.60,926.15,922.60,559306,23246,231881,41.46
3,AAVAS,EQ,28-Feb-2022,2853.80,2853.80,3020.50,2750.00,2790.90,2795.25,2824.53,334327,26816,193697,57.94
4,ABB,EQ,28-Feb-2022,2131.90,2096.00,2171.60,2089.20,2153.30,2159.45,2150.44,180990,30789,89646,49.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,28-Feb-2022,230.50,227.00,243.70,225.10,243.00,240.05,237.31,189695,4644,104304,54.99
642,YESBANK,EQ,28-Feb-2022,13.15,13.05,13.35,12.90,13.35,13.25,13.19,138460582,72861,64893497,46.87
643,ZEEL,EQ,28-Feb-2022,231.35,226.80,233.00,219.50,232.40,229.25,223.73,27664374,127463,12167239,43.98
644,ZENSARTECH,EQ,28-Feb-2022,339.70,339.40,354.00,330.65,352.00,346.35,342.86,1044077,24648,361112,34.59
645,ZYDUSWELL,EQ,28-Feb-2022,1602.35,1575.00,1610.00,1555.55,1570.00,1582.25,1584.85,24037,4294,11662,48.52

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,25-Feb-2022,20568.20,20989.95,21500.00,20796.70,21473.95,21415.10,21196.36,2490,1556,1500,60.24
1,AARTIDRUGS,EQ,25-Feb-2022,453.40,455.80,480.00,455.80,466.95,467.45,467.27,126175,8343,46594,36.93
2,AARTIIND,EQ,25-Feb-2022,865.85,876.85,937.15,872.65,932.95,933.35,921.57,977284,30270,388432,39.75
3,AAVAS,EQ,25-Feb-2022,2905.20,2920.50,2995.00,2821.10,2829.95,2853.80,2909.50,53963,9142,23534,43.61
4,ABB,EQ,25-Feb-2022,2045.55,2068.60,2149.95,2065.35,2115.00,2131.90,2105.44,313838,25652,186064,59.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,25-Feb-2022,218.00,224.50,231.95,224.10,230.75,230.50,229.48,133106,3249,82934,62.31
642,YESBANK,EQ,25-Feb-2022,12.60,12.85,13.35,12.85,13.15,13.15,13.17,102883520,79085,37341197,36.29
643,ZEEL,EQ,25-Feb-2022,221.20,230.95,239.05,227.15,232.55,231.35,233.04,16615490,120207,5912152,35.58
644,ZENSARTECH,EQ,25-Feb-2022,316.55,325.00,358.50,323.00,341.70,339.70,344.59,2076830,41966,593863,28.59
645,ZYDUSWELL,EQ,25-Feb-2022,1482.35,1509.25,1628.55,1509.25,1600.00,1602.35,1572.08,85046,11957,49488,58.19

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,25-Feb-2022,20568.20,20989.95,21500.00,20796.70,21473.95,21415.10,21196.36,2490,1556,1500,60.24
1,AARTIDRUGS,EQ,25-Feb-2022,453.40,455.80,480.00,455.80,466.95,467.45,467.27,126175,8343,46594,36.93
2,AARTIIND,EQ,25-Feb-2022,865.85,876.85,937.15,872.65,932.95,933.35,921.57,977284,30270,388432,39.75
3,AAVAS,EQ,25-Feb-2022,2905.20,2920.50,2995.00,2821.10,2829.95,2853.80,2909.50,53963,9142,23534,43.61
4,ABB,EQ,25-Feb-2022,2045.55,2068.60,2149.95,2065.35,2115.00,2131.90,2105.44,313838,25652,186064,59.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,25-Feb-2022,218.00,224.50,231.95,224.10,230.75,230.50,229.48,133106,3249,82934,62.31
642,YESBANK,EQ,25-Feb-2022,12.60,12.85,13.35,12.85,13.15,13.15,13.17,102883520,79085,37341197,36.29
643,ZEEL,EQ,25-Feb-2022,221.20,230.95,239.05,227.15,232.55,231.35,233.04,16615490,120207,5912152,35.58
644,ZENSARTECH,EQ,25-Feb-2022,316.55,325.00,358.50,323.00,341.70,339.70,344.59,2076830,41966,593863,28.59
645,ZYDUSWELL,EQ,25-Feb-2022,1482.35,1509.25,1628.55,1509.25,1600.00,1602.35,1572.08,85046,11957,49488,58.19

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,24-Feb-2022,21213.40,21000.00,21111.55,20300.00,20700.00,20568.20,20720.78,4518,2197,2746,60.78
1,AARTIDRUGS,EQ,24-Feb-2022,492.25,487.00,487.00,450.00,459.80,453.40,469.18,261995,17292,138243,52.77
2,AARTIIND,EQ,24-Feb-2022,916.90,899.00,907.00,861.00,865.00,865.85,885.53,1266020,47673,530277,41.89
3,AAVAS,EQ,24-Feb-2022,2987.25,2950.00,2987.00,2868.85,2883.10,2905.20,2913.10,88660,14402,48331,54.51
4,ABB,EQ,24-Feb-2022,2097.20,2040.00,2098.95,2000.00,2042.00,2045.55,2065.35,360203,48747,217311,60.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,24-Feb-2022,239.60,234.00,236.05,217.00,217.00,218.00,227.72,332537,10095,157672,47.41
642,YESBANK,EQ,24-Feb-2022,13.85,13.45,13.65,12.50,12.55,12.60,13.12,172480925,110593,72330178,41.94
643,ZEEL,EQ,24-Feb-2022,240.20,230.00,233.90,218.85,222.55,221.20,226.16,21321440,124717,7146763,33.52
644,ZENSARTECH,EQ,24-Feb-2022,343.90,328.00,336.50,313.35,316.50,316.55,326.51,1482680,35947,758214,51.14
645,ZYDUSWELL,EQ,24-Feb-2022,1518.55,1481.00,1525.00,1431.00,1485.05,1482.35,1464.22,76794,10602,48365,62.98

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,23-Feb-2022,21320.45,21490.00,21499.95,21030.20,21199.95,21213.40,21234.71,2423,1597,1388,57.28
1,AARTIDRUGS,EQ,23-Feb-2022,483.50,483.50,496.80,482.35,495.00,492.25,489.66,91149,5199,37564,41.21
2,AARTIIND,EQ,23-Feb-2022,919.30,922.00,938.30,915.00,921.55,916.90,926.80,624883,25225,237051,37.94
3,AAVAS,EQ,23-Feb-2022,3037.95,3044.90,3089.05,2975.00,2997.00,2987.25,3021.52,74491,16800,36365,48.82
4,ABB,EQ,23-Feb-2022,2067.30,2076.00,2120.00,2076.00,2100.25,2097.20,2103.36,192678,25281,102515,53.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,23-Feb-2022,236.00,239.50,241.70,238.25,240.90,239.60,239.68,69796,1834,39643,56.80
642,YESBANK,EQ,23-Feb-2022,13.60,13.70,13.90,13.60,13.85,13.85,13.79,74202361,63102,36550897,49.26
643,ZEEL,EQ,23-Feb-2022,240.45,244.75,246.00,239.20,240.80,240.20,242.35,10738414,70297,3291976,30.66
644,ZENSARTECH,EQ,23-Feb-2022,337.05,344.00,348.90,339.40,343.90,343.90,344.38,1023926,31257,540619,52.80
645,ZYDUSWELL,EQ,23-Feb-2022,1525.40,1537.65,1538.20,1506.60,1517.00,1518.55,1522.43,16700,3297,9080,54.37

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,22-Feb-2022,22156.30,21501.00,21819.00,21203.40,21211.05,21320.45,21511.67,3253,2037,1837,56.47
1,AARTIDRUGS,EQ,22-Feb-2022,493.25,480.00,485.00,480.00,484.00,483.50,482.84,137201,8419,75603,55.10
2,AARTIIND,EQ,22-Feb-2022,935.30,913.00,929.95,907.55,916.90,919.30,918.34,692700,32057,329069,47.51
3,AAVAS,EQ,22-Feb-2022,3017.20,2851.00,3079.45,2851.00,3001.05,3037.95,3013.00,287658,15567,237607,82.60
4,ABB,EQ,22-Feb-2022,2101.10,2030.00,2123.25,2030.00,2051.00,2067.30,2081.11,306750,47940,175162,57.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,22-Feb-2022,246.20,242.00,242.35,235.00,236.70,236.00,238.60,129026,3595,70124,54.35
642,YESBANK,EQ,22-Feb-2022,13.65,13.45,13.75,13.35,13.65,13.60,13.52,110047883,61882,45930687,41.74
643,ZEEL,EQ,22-Feb-2022,254.35,245.00,250.95,237.10,240.75,240.45,243.36,14021583,100222,3934635,28.06
644,ZENSARTECH,EQ,22-Feb-2022,348.80,330.15,344.50,330.00,337.00,337.05,338.71,1011602,23612,409757,40.51
645,ZYDUSWELL,EQ,22-Feb-2022,1569.95,1520.00,1541.95,1510.00,1522.00,1525.40,1526.65,61560,8221,35459,57.60

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,21-Feb-2022,21640.45,21700.00,22240.85,21500.05,22080.00,22156.30,21992.65,3559,1906,2025,56.90
1,AARTIDRUGS,EQ,21-Feb-2022,498.40,497.40,497.40,491.60,492.90,493.25,494.13,102227,5911,53938,52.76
2,AARTIIND,EQ,21-Feb-2022,957.95,952.35,960.80,932.00,934.05,935.30,945.86,661992,25594,328899,49.68
3,AAVAS,EQ,21-Feb-2022,3068.50,3068.50,3068.50,2964.00,2995.05,3017.20,3030.53,59734,8987,30033,50.28
4,ABB,EQ,21-Feb-2022,2065.65,2046.00,2118.90,2025.00,2100.00,2101.10,2081.07,375444,30864,234750,62.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,21-Feb-2022,250.95,248.00,254.00,244.00,246.50,246.20,248.22,137687,3913,65272,47.41
642,YESBANK,EQ,21-Feb-2022,13.90,13.75,13.80,13.60,13.65,13.65,13.69,64338345,72358,26269653,40.83
643,ZEEL,EQ,21-Feb-2022,261.40,258.00,261.85,252.80,253.35,254.35,256.85,9746915,52681,2909534,29.85
644,ZENSARTECH,EQ,21-Feb-2022,361.90,358.10,359.55,346.00,348.00,348.80,352.33,839671,21010,354252,42.19
645,ZYDUSWELL,EQ,21-Feb-2022,1548.40,1550.00,1596.00,1501.05,1540.00,1569.95,1543.63,104588,13012,68493,65.49

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,18-Feb-2022,22004.50,22040.00,22040.00,21530.00,21725.00,21640.45,21740.80,1548,872,951,61.43
1,AARTIDRUGS,EQ,18-Feb-2022,502.00,501.00,503.90,496.00,501.00,498.40,500.43,76587,4872,40044,52.29
2,AARTIIND,EQ,18-Feb-2022,974.85,969.00,974.45,954.20,959.20,957.95,963.00,434247,20958,168784,38.87
3,AAVAS,EQ,18-Feb-2022,3093.65,3092.00,3157.95,2983.25,3056.25,3068.50,3083.32,95337,15184,32351,33.93
4,ABB,EQ,18-Feb-2022,2055.90,2030.00,2079.05,2030.00,2058.00,2065.65,2058.17,177031,14704,108538,61.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,18-Feb-2022,252.25,250.00,255.95,248.30,250.20,250.95,251.98,118125,3432,58975,49.93
642,YESBANK,EQ,18-Feb-2022,13.80,13.90,14.10,13.80,13.85,13.90,13.94,67852119,55784,33761706,49.76
643,ZEEL,EQ,18-Feb-2022,263.00,262.50,267.90,260.10,261.50,261.40,264.07,7291926,45881,1403301,19.24
644,ZENSARTECH,EQ,18-Feb-2022,372.60,370.25,371.70,360.45,361.90,361.90,365.45,693660,19702,317434,45.76
645,ZYDUSWELL,EQ,18-Feb-2022,1506.65,1510.00,1571.40,1477.35,1571.00,1548.40,1509.89,83744,9366,58504,69.86

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,18-Feb-2022,22004.50,22040.00,22040.00,21530.00,21725.00,21640.45,21740.80,1548,872,951,61.43
1,AARTIDRUGS,EQ,18-Feb-2022,502.00,501.00,503.90,496.00,501.00,498.40,500.43,76587,4872,40044,52.29
2,AARTIIND,EQ,18-Feb-2022,974.85,969.00,974.45,954.20,959.20,957.95,963.00,434247,20958,168784,38.87
3,AAVAS,EQ,18-Feb-2022,3093.65,3092.00,3157.95,2983.25,3056.25,3068.50,3083.32,95337,15184,32351,33.93
4,ABB,EQ,18-Feb-2022,2055.90,2030.00,2079.05,2030.00,2058.00,2065.65,2058.17,177031,14704,108538,61.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,18-Feb-2022,252.25,250.00,255.95,248.30,250.20,250.95,251.98,118125,3432,58975,49.93
642,YESBANK,EQ,18-Feb-2022,13.80,13.90,14.10,13.80,13.85,13.90,13.94,67852119,55784,33761706,49.76
643,ZEEL,EQ,18-Feb-2022,263.00,262.50,267.90,260.10,261.50,261.40,264.07,7291926,45881,1403301,19.24
644,ZENSARTECH,EQ,18-Feb-2022,372.60,370.25,371.70,360.45,361.90,361.90,365.45,693660,19702,317434,45.76
645,ZYDUSWELL,EQ,18-Feb-2022,1506.65,1510.00,1571.40,1477.35,1571.00,1548.40,1509.89,83744,9366,58504,69.86

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,17-Feb-2022,21966.10,21966.10,22190.00,21710.05,22024.50,22004.50,21947.45,3378,1473,2346,69.45
1,AARTIDRUGS,EQ,17-Feb-2022,502.90,502.90,507.00,500.30,502.40,502.00,503.41,68910,5272,30353,44.05
2,AARTIIND,EQ,17-Feb-2022,983.95,984.00,992.60,969.80,971.00,974.85,981.34,541572,20930,226364,41.80
3,AAVAS,EQ,17-Feb-2022,2978.50,3000.00,3100.00,2973.55,3100.00,3093.65,3051.69,188246,17024,117215,62.27
4,ABB,EQ,17-Feb-2022,2033.30,2033.30,2068.00,2023.30,2054.85,2055.90,2047.16,350822,21876,214014,61.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,17-Feb-2022,245.20,246.45,254.95,244.95,251.00,252.25,251.30,276560,6553,140946,50.96
642,YESBANK,EQ,17-Feb-2022,13.55,13.65,13.90,13.40,13.90,13.80,13.70,88068465,70378,41123384,46.69
643,ZEEL,EQ,17-Feb-2022,267.65,268.05,269.00,261.85,263.00,263.00,265.72,5741013,42711,1215248,21.17
644,ZENSARTECH,EQ,17-Feb-2022,378.05,380.00,384.50,369.05,372.10,372.60,374.37,696529,23318,282812,40.60
645,ZYDUSWELL,EQ,17-Feb-2022,1513.50,1517.55,1540.00,1482.30,1502.85,1506.65,1505.67,48800,8210,26164,53.61

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,16-Feb-2022,22438.85,22480.00,22598.85,21901.00,21919.50,21966.10,22086.41,4627,1969,2758,59.61
1,AARTIDRUGS,EQ,16-Feb-2022,501.30,500.00,508.85,500.00,501.50,502.90,505.12,114088,6363,62193,54.51
2,AARTIIND,EQ,16-Feb-2022,984.55,993.00,999.00,980.00,982.20,983.95,988.98,415830,15453,117569,28.27
3,AAVAS,EQ,16-Feb-2022,2897.50,2939.00,3045.95,2881.05,2980.00,2978.50,2956.45,184307,17458,114770,62.27
4,ABB,EQ,16-Feb-2022,2045.85,2059.00,2084.00,2011.30,2031.00,2033.30,2030.00,565198,29022,399229,70.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,16-Feb-2022,243.80,245.00,250.65,242.75,245.05,245.20,246.00,351276,6633,160958,45.82
642,YESBANK,EQ,16-Feb-2022,13.50,13.65,13.70,13.50,13.60,13.55,13.58,61575713,52221,28868776,46.88
643,ZEEL,EQ,16-Feb-2022,267.55,269.00,272.50,266.00,266.40,267.65,268.63,11455108,71787,4264704,37.23
644,ZENSARTECH,EQ,16-Feb-2022,380.50,385.90,389.90,375.00,377.50,378.05,381.75,829286,15605,443890,53.53
645,ZYDUSWELL,EQ,16-Feb-2022,1482.30,1490.10,1520.00,1490.10,1516.00,1513.50,1503.27,68623,9857,43284,63.08

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,15-Feb-2022,22585.80,22557.00,22843.55,22374.95,22380.00,22438.85,22494.83,2142,1003,1440,67.23
1,AARTIDRUGS,EQ,15-Feb-2022,503.85,503.85,508.70,498.70,500.15,501.30,501.97,136576,8050,80932,59.26
2,AARTIIND,EQ,15-Feb-2022,963.60,970.95,987.75,950.00,985.00,984.55,970.12,628989,26215,162418,25.82
3,AAVAS,EQ,15-Feb-2022,2887.30,2923.00,2931.75,2862.10,2889.00,2897.50,2896.33,86160,13322,52506,60.94
4,ABB,EQ,15-Feb-2022,2091.00,2110.00,2135.95,2025.55,2048.00,2045.85,2068.71,378170,29931,269224,71.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,15-Feb-2022,235.60,236.80,244.50,236.00,243.15,243.80,240.08,181617,5229,97840,53.87
642,YESBANK,EQ,15-Feb-2022,13.25,13.30,13.60,13.05,13.60,13.50,13.35,97078149,85618,29681433,30.57
643,ZEEL,EQ,15-Feb-2022,249.35,252.00,268.90,251.60,267.55,267.55,261.88,20413908,125440,4860289,23.81
644,ZENSARTECH,EQ,15-Feb-2022,360.55,364.90,382.50,350.10,379.80,380.50,367.49,1153327,28664,307732,26.68
645,ZYDUSWELL,EQ,15-Feb-2022,1475.75,1487.70,1489.90,1430.00,1480.00,1482.30,1464.34,75303,9912,48169,63.97

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,14-Feb-2022,23061.80,23055.0,23055.00,22457.00,22500.00,22585.80,22620.32,1830,1002,1010,55.19
1,AARTIDRUGS,EQ,14-Feb-2022,518.25,505.0,510.00,501.00,502.45,503.85,506.18,122174,8646,74891,61.30
2,AARTIIND,EQ,14-Feb-2022,987.65,950.0,976.60,947.00,974.00,963.60,965.02,532223,27818,205313,38.58
3,AAVAS,EQ,14-Feb-2022,3020.80,2905.0,3005.05,2825.00,2827.00,2887.30,2964.69,157985,18830,115594,73.17
4,ABB,EQ,14-Feb-2022,2179.25,2095.0,2136.40,2006.55,2083.80,2091.00,2097.22,289217,25969,165184,57.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,14-Feb-2022,243.50,238.0,239.95,233.00,237.00,235.60,236.60,282463,6561,164774,58.33
642,YESBANK,EQ,14-Feb-2022,13.90,13.8,13.85,13.20,13.25,13.25,13.52,115019220,86391,48363621,42.05
643,ZEEL,EQ,14-Feb-2022,261.90,257.0,260.05,248.05,249.05,249.35,253.21,11162019,103087,2489623,22.30
644,ZENSARTECH,EQ,14-Feb-2022,390.00,386.0,386.75,352.20,360.45,360.55,373.15,1006714,31430,449789,44.68
645,ZYDUSWELL,EQ,14-Feb-2022,1496.20,1480.0,1553.55,1460.00,1478.05,1475.75,1480.44,96916,11257,63594,65.62

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,11-Feb-2022,23767.95,23667.95,23834.95,22601.00,23170.00,23061.80,23036.26,4972,3020,2369,47.65
1,AARTIDRUGS,EQ,11-Feb-2022,525.15,524.85,524.85,516.15,518.45,518.25,518.90,75074,4365,41568,55.37
2,AARTIIND,EQ,11-Feb-2022,1022.20,1010.00,1013.40,985.00,988.00,987.65,997.15,540473,20543,224171,41.48
3,AAVAS,EQ,11-Feb-2022,3099.00,3056.50,3110.00,2965.35,3042.05,3020.80,3062.65,218215,23887,132924,60.91
4,ABB,EQ,11-Feb-2022,2238.00,2224.00,2249.90,2170.05,2176.05,2179.25,2211.26,242245,36995,125414,51.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,11-Feb-2022,259.50,257.00,262.90,241.00,243.00,243.50,248.85,488933,10038,256863,52.54
642,YESBANK,EQ,11-Feb-2022,13.85,13.85,14.20,13.75,14.05,13.90,13.96,105169399,60949,32031664,30.46
643,ZEEL,EQ,11-Feb-2022,263.80,263.50,267.50,260.70,261.65,261.90,264.26,11096932,94283,4209759,37.94
644,ZENSARTECH,EQ,11-Feb-2022,403.80,401.00,401.00,389.45,390.00,390.00,394.31,542508,18660,267726,49.35
645,ZYDUSWELL,EQ,11-Feb-2022,1567.90,1567.50,1567.50,1481.00,1485.05,1496.20,1508.93,166228,25371,110756,66.63

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,11-Feb-2022,23767.95,23667.95,23834.95,22601.00,23170.00,23061.80,23036.26,4972,3020,2369,47.65
1,AARTIDRUGS,EQ,11-Feb-2022,525.15,524.85,524.85,516.15,518.45,518.25,518.90,75074,4365,41568,55.37
2,AARTIIND,EQ,11-Feb-2022,1022.20,1010.00,1013.40,985.00,988.00,987.65,997.15,540473,20543,224171,41.48
3,AAVAS,EQ,11-Feb-2022,3099.00,3056.50,3110.00,2965.35,3042.05,3020.80,3062.65,218215,23887,132924,60.91
4,ABB,EQ,11-Feb-2022,2238.00,2224.00,2249.90,2170.05,2176.05,2179.25,2211.26,242245,36995,125414,51.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,11-Feb-2022,259.50,257.00,262.90,241.00,243.00,243.50,248.85,488933,10038,256863,52.54
642,YESBANK,EQ,11-Feb-2022,13.85,13.85,14.20,13.75,14.05,13.90,13.96,105169399,60949,32031664,30.46
643,ZEEL,EQ,11-Feb-2022,263.80,263.50,267.50,260.70,261.65,261.90,264.26,11096932,94283,4209759,37.94
644,ZENSARTECH,EQ,11-Feb-2022,403.80,401.00,401.00,389.45,390.00,390.00,394.31,542508,18660,267726,49.35
645,ZYDUSWELL,EQ,11-Feb-2022,1567.90,1567.50,1567.50,1481.00,1485.05,1496.20,1508.93,166228,25371,110756,66.63

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,10-Feb-2022,24083.15,24001.00,24347.00,23656.60,23755.00,23767.95,23924.80,2447,1206,1322,54.03
1,AARTIDRUGS,EQ,10-Feb-2022,525.00,523.05,528.95,522.40,525.40,525.15,524.42,93492,6261,48723,52.11
2,AARTIIND,EQ,10-Feb-2022,1009.75,1013.60,1027.00,1009.50,1022.00,1022.20,1020.22,700879,24539,328577,46.88
3,AAVAS,EQ,10-Feb-2022,2994.60,2990.00,3139.70,2985.00,3085.00,3099.00,3086.02,268592,28574,152690,56.85
4,ABB,EQ,10-Feb-2022,2241.00,2211.00,2319.90,2211.00,2225.00,2238.00,2258.61,369714,33005,104373,28.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,10-Feb-2022,270.55,271.00,279.00,256.00,258.20,259.50,267.44,709980,13951,266996,37.61
642,YESBANK,EQ,10-Feb-2022,14.10,14.15,14.20,13.80,13.85,13.85,13.97,65567550,70100,30103545,45.91
643,ZEEL,EQ,10-Feb-2022,268.10,269.90,270.60,263.00,263.15,263.80,265.89,12375550,110776,6232226,50.36
644,ZENSARTECH,EQ,10-Feb-2022,387.20,392.55,407.70,391.85,404.00,403.80,400.72,1066193,29449,452403,42.43
645,ZYDUSWELL,EQ,10-Feb-2022,1622.65,1620.00,1634.95,1549.20,1565.00,1567.90,1587.07,410760,18453,358081,87.18

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,09-Feb-2022,24669.90,24948.00,24948.00,23990.00,24087.65,24083.15,24236.75,3089,1477,1822,58.98
1,AARTIDRUGS,EQ,09-Feb-2022,522.45,519.50,527.00,519.50,527.00,525.00,523.38,71601,5791,36060,50.36
2,AARTIIND,EQ,09-Feb-2022,979.30,985.00,1015.15,985.00,1013.30,1009.75,1001.56,709530,28727,314777,44.36
3,AAVAS,EQ,09-Feb-2022,2961.80,2993.40,3018.50,2962.00,2999.00,2994.60,2995.92,170633,10559,145206,85.10
4,ABB,EQ,09-Feb-2022,2221.25,2241.00,2250.00,2211.70,2242.55,2241.00,2235.28,123789,16468,61896,50.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,09-Feb-2022,263.50,265.70,274.85,264.00,271.20,270.55,270.45,468601,8742,282738,60.34
642,YESBANK,EQ,09-Feb-2022,14.15,14.25,14.35,14.05,14.15,14.10,14.16,68633731,54843,25884320,37.71
643,ZEEL,EQ,09-Feb-2022,270.80,273.00,276.30,267.10,268.15,268.10,270.22,8165778,65224,3762686,46.08
644,ZENSARTECH,EQ,09-Feb-2022,389.40,392.10,400.50,385.25,387.00,387.20,391.35,1173841,36869,641618,54.66
645,ZYDUSWELL,EQ,09-Feb-2022,1647.45,1656.35,1659.95,1617.55,1622.25,1622.65,1626.67,45970,6413,32456,70.60

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,08-Feb-2022,24794.00,24920.00,26943.00,22126.65,24500.0,24669.90,24275.68,3503,1737,954,27.23
1,AARTIDRUGS,EQ,08-Feb-2022,526.00,528.80,529.80,519.40,522.0,522.45,522.75,189733,9190,87352,46.04
2,AARTIIND,EQ,08-Feb-2022,999.85,1005.00,1013.75,960.40,979.3,979.30,983.35,916502,42854,240721,26.27
3,AAVAS,EQ,08-Feb-2022,2983.65,2970.00,3019.50,2890.85,2980.0,2961.80,2973.08,153630,17743,107248,69.81
4,ABB,EQ,08-Feb-2022,2258.00,2270.60,2284.95,2196.00,2220.0,2221.25,2239.86,122629,14130,39395,32.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,08-Feb-2022,261.50,266.60,268.90,258.00,265.0,263.50,263.38,161921,3897,90650,55.98
642,YESBANK,EQ,08-Feb-2022,13.95,14.05,14.25,14.00,14.2,14.15,14.14,148021736,110541,59670657,40.31
643,ZEEL,EQ,08-Feb-2022,275.50,276.05,278.00,267.30,270.1,270.80,272.20,6048793,53013,1113443,18.41
644,ZENSARTECH,EQ,08-Feb-2022,401.80,406.30,409.55,386.05,389.8,389.40,392.96,1262137,36876,628035,49.76
645,ZYDUSWELL,EQ,08-Feb-2022,1656.55,1671.50,1747.95,1636.55,1664.0,1647.45,1658.27,58918,10774,36978,62.76

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,07-Feb-2022,24744.30,24968.0,24968.00,24592.15,24750.00,24794.00,24780.70,1664,1098,1011,60.76
1,AARTIDRUGS,EQ,07-Feb-2022,525.10,527.0,536.40,524.05,525.00,526.00,527.84,219486,9092,88346,40.25
2,AARTIIND,EQ,07-Feb-2022,1002.90,1038.0,1038.00,978.05,997.50,999.85,1002.78,2266844,84595,476788,21.03
3,AAVAS,EQ,07-Feb-2022,3054.40,3076.3,3109.50,2962.05,2973.00,2983.65,2997.32,214113,23855,149348,69.75
4,ABB,EQ,07-Feb-2022,2335.40,2344.0,2344.50,2223.80,2250.40,2258.00,2261.72,191104,16873,80450,42.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,07-Feb-2022,261.50,263.6,264.90,254.05,260.90,261.50,260.71,158573,3500,93831,59.17
642,YESBANK,EQ,07-Feb-2022,13.70,13.9,14.15,13.70,14.00,13.95,13.91,107878882,114357,42579090,39.47
643,ZEEL,EQ,07-Feb-2022,278.30,276.0,280.65,273.85,274.45,275.50,277.61,5716433,70999,1275602,22.31
644,ZENSARTECH,EQ,07-Feb-2022,414.95,414.5,422.55,398.20,402.95,401.80,410.68,1103548,23200,643081,58.27
645,ZYDUSWELL,EQ,07-Feb-2022,1672.55,1670.0,1685.55,1644.95,1654.50,1656.55,1664.09,45446,4640,32791,72.15

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,04-Feb-2022,24868.65,24620.00,24806.10,24551.10,24601.05,24744.30,24672.56,1695,428,1304,76.93
1,AARTIDRUGS,EQ,04-Feb-2022,513.70,513.70,528.30,513.70,525.90,525.10,523.71,301978,12064,119970,39.73
2,AARTIIND,EQ,04-Feb-2022,994.15,993.95,1016.25,989.05,1013.00,1002.90,1001.18,391576,14800,131394,33.56
3,AAVAS,EQ,04-Feb-2022,3194.25,3185.00,3185.00,3024.10,3050.00,3054.40,3074.07,136992,13071,90718,66.22
4,ABB,EQ,04-Feb-2022,2305.80,2305.00,2365.00,2280.00,2330.60,2335.40,2331.96,203322,16937,62444,30.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,04-Feb-2022,263.50,264.70,266.90,261.00,262.00,261.50,263.36,106875,2597,54839,51.31
642,YESBANK,EQ,04-Feb-2022,13.45,13.60,13.85,13.55,13.70,13.70,13.72,102260941,83758,39067723,38.20
643,ZEEL,EQ,04-Feb-2022,287.50,287.70,288.75,276.60,278.65,278.30,280.54,10466445,81965,2482680,23.72
644,ZENSARTECH,EQ,04-Feb-2022,428.50,427.00,428.95,414.00,415.00,414.95,416.74,1396419,27196,827195,59.24
645,ZYDUSWELL,EQ,04-Feb-2022,1681.90,1695.70,1695.70,1661.55,1670.00,1672.55,1673.88,59197,7631,42195,71.28

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,04-Feb-2022,24868.65,24620.00,24806.10,24551.10,24601.05,24744.30,24672.56,1695,428,1304,76.93
1,AARTIDRUGS,EQ,04-Feb-2022,513.70,513.70,528.30,513.70,525.90,525.10,523.71,301978,12064,119970,39.73
2,AARTIIND,EQ,04-Feb-2022,994.15,993.95,1016.25,989.05,1013.00,1002.90,1001.18,391576,14800,131394,33.56
3,AAVAS,EQ,04-Feb-2022,3194.25,3185.00,3185.00,3024.10,3050.00,3054.40,3074.07,136992,13071,90718,66.22
4,ABB,EQ,04-Feb-2022,2305.80,2305.00,2365.00,2280.00,2330.60,2335.40,2331.96,203322,16937,62444,30.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,04-Feb-2022,263.50,264.70,266.90,261.00,262.00,261.50,263.36,106875,2597,54839,51.31
642,YESBANK,EQ,04-Feb-2022,13.45,13.60,13.85,13.55,13.70,13.70,13.72,102260941,83758,39067723,38.20
643,ZEEL,EQ,04-Feb-2022,287.50,287.70,288.75,276.60,278.65,278.30,280.54,10466445,81965,2482680,23.72
644,ZENSARTECH,EQ,04-Feb-2022,428.50,427.00,428.95,414.00,415.00,414.95,416.74,1396419,27196,827195,59.24
645,ZYDUSWELL,EQ,04-Feb-2022,1681.90,1695.70,1695.70,1661.55,1670.00,1672.55,1673.88,59197,7631,42195,71.28

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,03-Feb-2022,24982.75,25221.50,25221.50,24520.80,24580.00,24868.65,24879.35,3570,2078,1882,52.72
1,AARTIDRUGS,EQ,03-Feb-2022,512.90,516.90,517.00,507.00,513.50,513.70,512.63,130816,7663,79912,61.09
2,AARTIIND,EQ,03-Feb-2022,1010.55,1010.55,1018.50,989.00,992.35,994.15,1005.23,372140,16172,133016,35.74
3,AAVAS,EQ,03-Feb-2022,3195.80,3208.95,3218.00,3138.70,3212.00,3194.25,3163.83,209731,18611,138152,65.87
4,ABB,EQ,03-Feb-2022,2296.70,2298.00,2332.95,2272.65,2295.50,2305.80,2303.05,161075,20009,73947,45.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,03-Feb-2022,261.90,263.00,265.40,258.00,265.40,263.50,261.92,168856,4282,80489,47.67
642,YESBANK,EQ,03-Feb-2022,13.65,13.65,13.70,13.35,13.40,13.45,13.49,59047564,81781,20085246,34.02
643,ZEEL,EQ,03-Feb-2022,292.55,284.30,292.00,278.60,286.65,287.50,287.65,12970686,78764,3616527,27.88
644,ZENSARTECH,EQ,03-Feb-2022,436.75,437.00,437.00,426.00,429.00,428.50,430.48,458310,16988,182595,39.84
645,ZYDUSWELL,EQ,03-Feb-2022,1702.35,1727.90,1730.00,1675.00,1678.00,1681.90,1699.38,102484,11212,67400,65.77

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,02-Feb-2022,25019.90,25174.85,25187.30,24901.10,24919.60,24982.75,24999.73,2637,1948,1958,74.25
1,AARTIDRUGS,EQ,02-Feb-2022,502.50,504.45,516.00,504.45,514.00,512.90,512.60,121124,5685,58592,48.37
2,AARTIIND,EQ,02-Feb-2022,1012.80,1016.00,1040.95,1005.10,1010.00,1010.55,1022.53,1230121,41518,610757,49.65
3,AAVAS,EQ,02-Feb-2022,3113.90,3165.00,3340.00,3120.00,3158.00,3195.80,3214.07,457163,53412,150850,33.00
4,ABB,EQ,02-Feb-2022,2287.10,2287.10,2377.20,2263.90,2291.00,2296.70,2317.65,324514,31133,147658,45.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,02-Feb-2022,255.00,256.00,268.00,253.20,262.00,261.90,262.83,413321,10896,163310,39.51
642,YESBANK,EQ,02-Feb-2022,13.35,13.50,13.80,13.40,13.70,13.65,13.59,74842792,104627,28827628,38.52
643,ZEEL,EQ,02-Feb-2022,289.60,293.10,296.00,290.60,292.25,292.55,293.63,6392749,48102,1525250,23.86
644,ZENSARTECH,EQ,02-Feb-2022,424.10,427.60,441.00,425.10,438.00,436.75,435.37,912670,24498,295240,32.35
645,ZYDUSWELL,EQ,02-Feb-2022,1739.85,1739.85,1820.00,1693.10,1699.00,1702.35,1737.06,142470,19139,42745,30.00

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,01-Feb-2022,24989.90,24989.90,25105.00,24712.25,24950.00,25019.90,24997.81,3379,2324,1973,58.39
1,AARTIDRUGS,EQ,01-Feb-2022,503.45,505.65,508.00,498.70,502.50,502.50,503.10,92252,4538,41928,45.45
2,AARTIIND,EQ,01-Feb-2022,986.90,995.55,1015.00,988.50,1013.85,1012.80,1000.53,355474,14320,133533,37.56
3,AAVAS,EQ,01-Feb-2022,2874.10,2901.00,3194.95,2858.15,3154.00,3113.90,3051.83,381527,42619,136960,35.90
4,ABB,EQ,01-Feb-2022,2301.05,2311.85,2373.95,2232.55,2284.00,2287.10,2312.56,725023,36412,433211,59.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,01-Feb-2022,240.65,244.45,262.50,244.00,255.90,255.00,255.62,615716,13289,294126,47.77
642,YESBANK,EQ,01-Feb-2022,13.30,13.40,13.60,13.10,13.45,13.35,13.35,108761671,114157,24975050,22.96
643,ZEEL,EQ,01-Feb-2022,289.55,293.10,293.35,285.00,290.95,289.60,288.69,7873540,59952,2252113,28.60
644,ZENSARTECH,EQ,01-Feb-2022,415.50,427.00,429.00,419.25,425.00,424.10,425.05,830129,27740,276235,33.28
645,ZYDUSWELL,EQ,01-Feb-2022,1737.25,1746.60,1749.40,1714.85,1744.25,1739.85,1736.47,81958,5597,70210,85.67

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,31-Jan-2022,24407.40,24600.00,25000.00,24153.40,25000.00,24989.90,24461.85,5778,2010,4192,72.55
1,AARTIDRUGS,EQ,31-Jan-2022,497.60,507.25,518.00,493.65,499.00,503.45,505.53,295306,13593,80723,27.34
2,AARTIIND,EQ,31-Jan-2022,991.75,1005.00,1016.80,982.15,986.60,986.90,993.49,509062,16515,195846,38.47
3,AAVAS,EQ,31-Jan-2022,2878.20,2916.00,2916.00,2834.00,2852.05,2874.10,2880.74,54999,11825,26385,47.97
4,ABB,EQ,31-Jan-2022,2270.50,2276.00,2333.55,2195.10,2301.00,2301.05,2276.25,415951,33775,247441,59.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,31-Jan-2022,235.95,237.50,243.00,237.50,240.70,240.65,240.40,100000,3175,53096,53.10
642,YESBANK,EQ,31-Jan-2022,13.35,13.50,13.60,13.20,13.30,13.30,13.38,82299006,100403,30490830,37.05
643,ZEEL,EQ,31-Jan-2022,285.50,290.00,294.55,288.70,289.45,289.55,290.96,8827496,71359,2995560,33.93
644,ZENSARTECH,EQ,31-Jan-2022,409.40,418.40,422.80,410.10,416.35,415.50,417.36,703867,20991,241126,34.26
645,ZYDUSWELL,EQ,31-Jan-2022,1722.80,1737.15,1770.00,1725.65,1750.00,1737.25,1739.64,68749,3179,52979,77.06

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,28-Jan-2022,24060.65,24203.00,24883.95,23932.0,24700.00,24407.40,24282.04,2971,2196,1945,65.47
1,AARTIDRUGS,EQ,28-Jan-2022,501.00,503.00,508.50,494.1,494.20,497.60,500.74,132148,6590,59700,45.18
2,AARTIIND,EQ,28-Jan-2022,972.80,979.15,1028.50,975.0,996.85,991.75,1009.43,887442,32410,365147,41.15
3,AAVAS,EQ,28-Jan-2022,2831.80,2835.00,2905.00,2795.0,2875.00,2878.20,2842.74,123634,14682,91418,73.94
4,ABB,EQ,28-Jan-2022,2224.45,2241.00,2315.85,2190.0,2259.50,2270.50,2255.25,265768,17873,125942,47.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,WSTCSTPAPR,EQ,28-Jan-2022,237.80,239.00,243.00,235.2,235.95,235.95,239.60,70999,2597,31175,43.91
641,YESBANK,EQ,28-Jan-2022,13.55,13.55,13.80,13.3,13.40,13.35,13.52,81562705,86513,27264214,33.43
642,ZEEL,EQ,28-Jan-2022,283.20,285.40,292.70,284.0,285.75,285.50,288.01,9119101,62838,2821807,30.94
643,ZENSARTECH,EQ,28-Jan-2022,402.55,405.00,424.60,404.7,413.40,409.40,413.92,1491722,32435,534845,35.85
644,ZYDUSWELL,EQ,28-Jan-2022,1698.40,1701.00,1752.20,1701.0,1711.80,1722.80,1728.68,69055,4502,56430,81.72

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,28-Jan-2022,24060.65,24203.00,24883.95,23932.0,24700.00,24407.40,24282.04,2971,2196,1945,65.47
1,AARTIDRUGS,EQ,28-Jan-2022,501.00,503.00,508.50,494.1,494.20,497.60,500.74,132148,6590,59700,45.18
2,AARTIIND,EQ,28-Jan-2022,972.80,979.15,1028.50,975.0,996.85,991.75,1009.43,887442,32410,365147,41.15
3,AAVAS,EQ,28-Jan-2022,2831.80,2835.00,2905.00,2795.0,2875.00,2878.20,2842.74,123634,14682,91418,73.94
4,ABB,EQ,28-Jan-2022,2224.45,2241.00,2315.85,2190.0,2259.50,2270.50,2255.25,265768,17873,125942,47.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,WSTCSTPAPR,EQ,28-Jan-2022,237.80,239.00,243.00,235.2,235.95,235.95,239.60,70999,2597,31175,43.91
641,YESBANK,EQ,28-Jan-2022,13.55,13.55,13.80,13.3,13.40,13.35,13.52,81562705,86513,27264214,33.43
642,ZEEL,EQ,28-Jan-2022,283.20,285.40,292.70,284.0,285.75,285.50,288.01,9119101,62838,2821807,30.94
643,ZENSARTECH,EQ,28-Jan-2022,402.55,405.00,424.60,404.7,413.40,409.40,413.92,1491722,32435,534845,35.85
644,ZYDUSWELL,EQ,28-Jan-2022,1698.40,1701.00,1752.20,1701.0,1711.80,1722.80,1728.68,69055,4502,56430,81.72

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,27-Jan-2022,24995.35,24968.00,24968.00,23900.00,24050.00,24060.65,24151.49,3198,1624,2148,67.17
1,AARTIDRUGS,EQ,27-Jan-2022,498.25,495.00,507.00,493.00,501.25,501.00,501.21,135950,8105,44147,32.47
2,AARTIIND,EQ,27-Jan-2022,981.80,968.00,985.00,950.00,984.00,972.80,962.30,789984,39547,400967,50.76
3,AAVAS,EQ,27-Jan-2022,2794.05,2794.55,2861.55,2745.80,2783.05,2831.80,2801.37,198528,16862,163687,82.45
4,ABB,EQ,27-Jan-2022,2400.15,2405.00,2405.00,2135.90,2221.80,2224.45,2250.10,794479,77050,463409,58.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,WSTCSTPAPR,EQ,27-Jan-2022,238.45,236.05,239.10,234.00,237.00,237.80,237.23,42732,1622,21934,51.33
641,YESBANK,EQ,27-Jan-2022,13.60,13.50,13.65,13.35,13.50,13.55,13.47,95789692,112147,29132763,30.41
642,ZEEL,EQ,27-Jan-2022,288.80,284.00,286.55,278.55,283.80,283.20,282.95,10806939,78076,3225554,29.85
643,ZENSARTECH,EQ,27-Jan-2022,410.50,406.00,412.70,399.75,402.00,402.55,404.66,1215016,35437,486266,40.02
644,ZYDUSWELL,EQ,27-Jan-2022,1699.30,1695.00,1716.00,1686.75,1689.65,1698.40,1703.06,73131,6211,59256,81.03

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,25-Jan-2022,24344.05,24301.00,25010.00,23920.80,25000.00,24995.35,24597.54,3356,2113,1755,52.29
1,AARTIDRUGS,EQ,25-Jan-2022,497.70,496.00,504.15,488.15,499.50,498.25,497.36,111764,6527,47867,42.83
2,AARTIIND,EQ,25-Jan-2022,982.40,975.00,987.65,954.00,979.50,981.80,977.12,450881,26918,193408,42.90
3,AAVAS,EQ,25-Jan-2022,2830.90,2800.00,2892.00,2325.30,2780.10,2794.05,2792.15,65245,18844,36017,55.20
4,ABB,EQ,25-Jan-2022,2408.40,2430.85,2468.10,2360.10,2445.55,2400.15,2425.56,390068,34343,191849,49.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,WSTCSTPAPR,EQ,25-Jan-2022,232.80,232.00,240.90,226.50,238.90,238.45,236.96,112408,3939,51612,45.91
641,YESBANK,EQ,25-Jan-2022,13.45,13.35,13.80,13.25,13.65,13.60,13.55,98939782,97228,32970123,33.32
642,ZEEL,EQ,25-Jan-2022,268.10,266.90,289.75,264.25,287.10,288.80,281.96,19734730,151607,3487913,17.67
643,ZENSARTECH,EQ,25-Jan-2022,415.65,399.00,418.40,383.95,410.05,410.50,405.59,2054760,58937,618146,30.08
644,ZYDUSWELL,EQ,25-Jan-2022,1677.60,1650.10,1745.00,1625.00,1698.35,1699.30,1707.80,40061,10681,19833,49.51

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,25-Jan-2022,24344.05,24301.00,25010.00,23920.80,25000.00,24995.35,24597.54,3356,2113,1755,52.29
1,AARTIDRUGS,EQ,25-Jan-2022,497.70,496.00,504.15,488.15,499.50,498.25,497.36,111764,6527,47867,42.83
2,AARTIIND,EQ,25-Jan-2022,982.40,975.00,987.65,954.00,979.50,981.80,977.12,450881,26918,193408,42.90
3,AAVAS,EQ,25-Jan-2022,2830.90,2800.00,2892.00,2325.30,2780.10,2794.05,2792.15,65245,18844,36017,55.20
4,ABB,EQ,25-Jan-2022,2408.40,2430.85,2468.10,2360.10,2445.55,2400.15,2425.56,390068,34343,191849,49.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,WSTCSTPAPR,EQ,25-Jan-2022,232.80,232.00,240.90,226.50,238.90,238.45,236.96,112408,3939,51612,45.91
641,YESBANK,EQ,25-Jan-2022,13.45,13.35,13.80,13.25,13.65,13.60,13.55,98939782,97228,32970123,33.32
642,ZEEL,EQ,25-Jan-2022,268.10,266.90,289.75,264.25,287.10,288.80,281.96,19734730,151607,3487913,17.67
643,ZENSARTECH,EQ,25-Jan-2022,415.65,399.00,418.40,383.95,410.05,410.50,405.59,2054760,58937,618146,30.08
644,ZYDUSWELL,EQ,25-Jan-2022,1677.60,1650.10,1745.00,1625.00,1698.35,1699.30,1707.80,40061,10681,19833,49.51

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,24-Jan-2022,24703.25,24610.00,25000.00,23800.00,24650.00,24344.05,24181.04,3270,1495,1981,60.58
1,AARTIDRUGS,EQ,24-Jan-2022,495.15,495.15,511.05,485.00,498.95,497.70,497.41,264868,15234,89962,33.96
2,AARTIIND,EQ,24-Jan-2022,1019.95,1024.00,1024.00,972.25,983.00,982.40,990.50,530538,30477,238985,45.05
3,AAVAS,EQ,24-Jan-2022,2824.75,2834.80,2875.00,2798.45,2826.05,2830.90,2834.86,232727,26008,144700,62.18
4,ABB,EQ,24-Jan-2022,2356.75,2348.70,2434.00,2285.00,2431.00,2408.40,2354.61,276068,23705,167352,60.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,WSTCSTPAPR,EQ,24-Jan-2022,249.25,250.00,250.00,231.55,232.00,232.80,237.78,197307,5490,97669,49.50
641,YESBANK,EQ,24-Jan-2022,13.75,14.20,14.20,13.40,13.45,13.45,13.69,200908635,171500,67004245,33.35
642,ZEEL,EQ,24-Jan-2022,289.35,290.45,290.70,262.50,266.25,268.10,271.33,28800291,202969,9164304,31.82
643,ZENSARTECH,EQ,24-Jan-2022,444.15,443.70,443.70,409.05,415.50,415.65,422.47,1449038,52006,617911,42.64
644,ZYDUSWELL,EQ,24-Jan-2022,1704.00,1709.00,1711.65,1615.00,1692.30,1677.60,1661.01,128098,12104,83652,65.30

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,21-Jan-2022,24997.50,25044.75,25044.75,24451.30,24608.50,24703.25,24684.92,1778,665,1233,69.35
1,AARTIDRUGS,EQ,21-Jan-2022,504.75,505.00,506.85,492.70,500.80,495.15,500.40,179940,10476,99495,55.29
2,AARTIIND,EQ,21-Jan-2022,1059.45,1049.00,1057.40,1012.65,1017.00,1019.95,1035.59,342990,17845,115339,33.63
3,AAVAS,EQ,21-Jan-2022,2793.10,2794.15,2840.00,2726.30,2776.00,2824.75,2787.26,48443,9784,21784,44.97
4,ABB,EQ,21-Jan-2022,2389.25,2389.25,2389.25,2325.70,2345.00,2356.75,2348.64,415539,20526,341988,82.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,WSTCSTPAPR,EQ,21-Jan-2022,250.60,251.70,256.95,248.10,249.00,249.25,253.29,297158,8817,122981,41.39
641,YESBANK,EQ,21-Jan-2022,13.80,13.85,13.85,13.60,13.85,13.75,13.76,67086949,99992,27840724,41.50
642,ZEEL,EQ,21-Jan-2022,308.45,308.50,308.50,286.10,291.40,289.35,296.28,14111047,117892,4550759,32.25
643,ZENSARTECH,EQ,21-Jan-2022,461.50,456.00,459.90,440.20,443.70,444.15,450.04,1561375,40351,737846,47.26
644,ZYDUSWELL,EQ,21-Jan-2022,1757.70,1755.00,1756.05,1701.10,1701.25,1704.00,1724.48,32005,6188,19787,61.82

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,21-Jan-2022,24997.50,25044.75,25044.75,24451.30,24608.50,24703.25,24684.92,1778,665,1233,69.35
1,AARTIDRUGS,EQ,21-Jan-2022,504.75,505.00,506.85,492.70,500.80,495.15,500.40,179940,10476,99495,55.29
2,AARTIIND,EQ,21-Jan-2022,1059.45,1049.00,1057.40,1012.65,1017.00,1019.95,1035.59,342990,17845,115339,33.63
3,AAVAS,EQ,21-Jan-2022,2793.10,2794.15,2840.00,2726.30,2776.00,2824.75,2787.26,48443,9784,21784,44.97
4,ABB,EQ,21-Jan-2022,2389.25,2389.25,2389.25,2325.70,2345.00,2356.75,2348.64,415539,20526,341988,82.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,WSTCSTPAPR,EQ,21-Jan-2022,250.60,251.70,256.95,248.10,249.00,249.25,253.29,297158,8817,122981,41.39
641,YESBANK,EQ,21-Jan-2022,13.80,13.85,13.85,13.60,13.85,13.75,13.76,67086949,99992,27840724,41.50
642,ZEEL,EQ,21-Jan-2022,308.45,308.50,308.50,286.10,291.40,289.35,296.28,14111047,117892,4550759,32.25
643,ZENSARTECH,EQ,21-Jan-2022,461.50,456.00,459.90,440.20,443.70,444.15,450.04,1561375,40351,737846,47.26
644,ZYDUSWELL,EQ,21-Jan-2022,1757.70,1755.00,1756.05,1701.10,1701.25,1704.00,1724.48,32005,6188,19787,61.82

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,20-Jan-2022,25083.55,25083.55,25100.00,24904.05,24939.15,24997.50,25013.85,1665,411,1347,80.90
1,AARTIDRUGS,EQ,20-Jan-2022,511.45,511.70,515.00,503.70,506.95,504.75,507.69,135788,8577,82857,61.02
2,AARTIIND,EQ,20-Jan-2022,1072.30,1070.00,1090.00,1055.05,1060.00,1059.45,1066.77,615309,25168,189422,30.78
3,AAVAS,EQ,20-Jan-2022,2871.20,2892.30,2892.30,2741.00,2798.50,2793.10,2790.35,65974,11535,29130,44.15
4,ABB,EQ,20-Jan-2022,2344.10,2348.80,2415.00,2342.70,2388.15,2389.25,2384.84,209114,20889,95861,45.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,20-Jan-2022,245.95,245.30,253.90,245.25,252.90,250.60,250.30,196148,4453,90766,46.27
642,YESBANK,EQ,20-Jan-2022,13.80,13.80,14.00,13.75,13.85,13.80,13.86,54861059,103196,21510397,39.21
643,ZEEL,EQ,20-Jan-2022,317.55,317.45,317.45,307.20,308.25,308.45,310.33,10663352,108956,4975549,46.66
644,ZENSARTECH,EQ,20-Jan-2022,474.00,479.00,483.50,459.00,460.20,461.50,467.62,1996907,49725,749049,37.51
645,ZYDUSWELL,EQ,20-Jan-2022,1789.35,1780.00,1788.30,1750.00,1750.00,1757.70,1767.04,83687,13304,64738,77.36

,SYMBOL,SERIES,DATE,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,3MINDIA,EQ,19-Jan-2022,25215.95,25298.00,25298.10,24849.95,25000.05,25083.55,25058.99,1806,1320,1163,64.40
1,AARTIDRUGS,EQ,19-Jan-2022,519.05,521.50,521.50,510.00,512.00,511.45,512.07,115673,9545,66373,57.38
2,AARTIIND,EQ,19-Jan-2022,1083.75,1083.00,1083.80,1052.10,1072.55,1072.30,1069.76,824736,32999,303602,36.81
3,AAVAS,EQ,19-Jan-2022,2863.30,2862.00,2916.25,2824.00,2874.95,2871.20,2875.16,71130,14272,36092,50.74
4,ABB,EQ,19-Jan-2022,2368.55,2368.55,2368.55,2304.00,2345.00,2344.10,2348.69,242338,18447,169029,69.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,WSTCSTPAPR,EQ,19-Jan-2022,246.45,245.00,248.20,239.10,245.25,245.95,245.09,105475,3677,48207,45.70
642,YESBANK,EQ,19-Jan-2022,13.80,13.90,13.90,13.70,13.85,13.80,13.80,79519938,101279,23002681,28.93
643,ZEEL,EQ,19-Jan-2022,316.60,316.45,318.50,308.60,316.60,317.55,314.37,7401104,69039,2329038,31.47
644,ZENSARTECH,EQ,19-Jan-2022,475.20,474.35,486.65,451.70,479.55,474.00,464.96,4693841,99972,1267052,26.99
645,ZYDUSWELL,EQ,19-Jan-2022,1821.70,1820.15,1821.00,1775.00,1782.70,1789.35,1791.62,53453,6661,40790,76.31